apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: prometheus
    url: http://prometheus.railway.internal:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "10s"
  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo.railway.internal:3200
    basicAuth: false
    isDefault: false
    editable: false
    uid: tempo
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: "prometheus"
      nodeGraph:
        enabled: true
      streamingEnabled:
        search: true
        metrics: true
      spanBar:
        type: "Tag"
        tag: "http.path"
      tracesToMetrics:
        datasourceUid: "prometheus"
        spanStartTimeShift: "-1h"
        spanEndTimeShift: "1h"
        tags: [{ key: "service.name", value: "service" }, { key: "job" }]
        queries:
          - name: "Sample query"
            query: "sum(rate(traces_spanmetrics_latency_bucket{$$__tags}[5m]))"
      traceQuery:
        timeShiftEnabled: true
        spanStartTimeShift: "-1h"
        spanEndTimeShift: "1h"
