openapi: 3.1.0
info:
  version: 0.0.33
  title: Indexer Restful API
servers:
  - url: https://api.ethcomments.xyz
    description: Production Indexer API
components:
  schemas:
    APIBadRequestValidationErrorResponse:
      type: object
      properties:
        issues:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - invalid_type
                  expected:
                    type: string
                  received:
                    type: string
                required:
                  - path
                  - code
                  - expected
                  - received
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - invalid_literal
                  expected: {}
                  received: {}
                required:
                  - path
                  - code
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - unrecognized_keys
                  keys:
                    type: array
                    items:
                      type: string
                required:
                  - path
                  - code
                  - keys
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - invalid_union
                  unionErrors:
                    type: array
                    items:
                      type: object
                      properties:
                        issues:
                          type: array
                          items:
                            $ref: >-
                              #/components/schemas/APIBadRequestValidationErrorResponse
                required:
                  - path
                  - code
                  - unionErrors
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - invalid_union_discriminator
                  options:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                        - type: string
                          pattern: ^d+$
                        - type: boolean
                        - type: string
                          description: A symbol
                        - type: 'null'
                        - type: 'null'
                required:
                  - path
                  - code
                  - options
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - invalid_enum_value
                  options:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                required:
                  - path
                  - code
                  - options
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - invalid_arguments
                  argumentsError:
                    type: object
                    properties:
                      issues:
                        type: array
                        items:
                          $ref: >-
                            #/components/schemas/APIBadRequestValidationErrorResponse
                required:
                  - path
                  - code
                  - argumentsError
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - invalid_return_type
                  returnTypeError:
                    type: object
                    properties:
                      issues:
                        type: array
                        items:
                          $ref: >-
                            #/components/schemas/APIBadRequestValidationErrorResponse
                required:
                  - path
                  - code
                  - returnTypeError
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - invalid_date
                required:
                  - path
                  - code
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - invalid_string
                  validation:
                    anyOf:
                      - type: string
                      - type: object
                        properties:
                          includes:
                            type: string
                          position:
                            type: number
                        required:
                          - includes
                      - type: object
                        properties:
                          startsWith:
                            type: string
                        required:
                          - startsWith
                      - type: object
                        properties:
                          endsWith:
                            type: string
                        required:
                          - endsWith
                required:
                  - path
                  - code
                  - validation
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - too_small
                  minimum:
                    anyOf:
                      - type: number
                      - type: string
                        pattern: ^d+$
                  inclusive:
                    type: boolean
                  exact:
                    type: boolean
                  type:
                    type: string
                required:
                  - path
                  - code
                  - minimum
                  - inclusive
                  - type
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - too_big
                  maximum:
                    anyOf:
                      - type: number
                      - type: string
                        pattern: ^d+$
                  inclusive:
                    type: boolean
                  exact:
                    type: boolean
                  type:
                    type: string
                required:
                  - path
                  - code
                  - maximum
                  - inclusive
                  - type
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - invalid_intersection_types
                required:
                  - path
                  - code
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - not_multiple_of
                  multipleOf:
                    anyOf:
                      - type: number
                      - type: string
                        pattern: ^d+$
                required:
                  - path
                  - code
                  - multipleOf
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - not_finite
                required:
                  - path
                  - code
              - type: object
                properties:
                  fatal:
                    type: boolean
                  message:
                    type: string
                  path:
                    type: array
                    items:
                      anyOf:
                        - type: string
                        - type: number
                  code:
                    type: string
                    enum:
                      - custom
                  params:
                    type: object
                    additionalProperties: {}
                required:
                  - path
                  - code
      required:
        - issues
    APIErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: The error message
      required:
        - message
    APIBadRequestResponse:
      anyOf:
        - type: object
          properties:
            success:
              type: boolean
              enum:
                - false
            error:
              $ref: '#/components/schemas/APIBadRequestValidationErrorResponse'
          required:
            - success
            - error
        - $ref: '#/components/schemas/APIErrorResponse'
  parameters: {}
paths:
  /api/channels/{channelId}:
    get:
      tags:
        - channels
      description: Retrieve a channel by ID
      parameters:
        - schema:
            type: string
            pattern: ^d+$
            description: The ID of the channel
          required: true
          name: channelId
          in: path
      responses:
        '200':
          description: Retrieve a list of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    pattern: ^d+$
                  createdAt:
                    type:
                      - string
                      - 'null'
                  updatedAt:
                    type:
                      - string
                      - 'null'
                  owner:
                    type: string
                    description: Hex format string, e.g. `0x1234567890abcdef`
                  name:
                    type: string
                  description:
                    type: string
                  metadata:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: Hex format string, e.g. `0x1234567890abcdef`
                        value:
                          type: string
                          description: Hex format string, e.g. `0x1234567890abcdef`
                      required:
                        - key
                        - value
                  hook:
                    type:
                      - string
                      - 'null'
                    description: Hex format string, e.g. `0x1234567890abcdef`
                  chainId:
                    type: integer
                required:
                  - id
                  - createdAt
                  - updatedAt
                  - owner
                  - name
                  - description
                  - metadata
                  - hook
                  - chainId
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIBadRequestResponse'
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorResponse'
  /api/channels:
    get:
      tags:
        - channels
      description: Retrieve a list of channels based on the criteria
      parameters:
        - schema:
            type: string
            description: >-
              Non inclusive cursor from which to fetch the channels based on
              sort
            pattern: ^0x[a-fA-F0-9]+$
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            description: Filter channels by owner
            pattern: ^0x[a-fA-F0-9]+$
          required: false
          description: Hex format string, e.g. `0x1234567890abcdef`
          name: owner
          in: query
        - schema:
            type: string
            description: >-
              Filters by chain ID. Can be a single chain id or comma-separated
              list of chain ids (e.g. 1,137,10).
          required: true
          name: chainId
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
            description: The number of channels to return
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
            description: The sort order of the channels
          required: false
          name: sort
          in: query
      responses:
        '200':
          description: Retrieve a list of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: ^d+$
                        createdAt:
                          type:
                            - string
                            - 'null'
                        updatedAt:
                          type:
                            - string
                            - 'null'
                        owner:
                          type: string
                          description: Hex format string, e.g. `0x1234567890abcdef`
                        name:
                          type: string
                        description:
                          type: string
                        metadata:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: Hex format string, e.g. `0x1234567890abcdef`
                              value:
                                type: string
                                description: Hex format string, e.g. `0x1234567890abcdef`
                            required:
                              - key
                              - value
                        hook:
                          type:
                            - string
                            - 'null'
                          description: Hex format string, e.g. `0x1234567890abcdef`
                        chainId:
                          type: integer
                      required:
                        - id
                        - createdAt
                        - updatedAt
                        - owner
                        - name
                        - description
                        - metadata
                        - hook
                        - chainId
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      hasNext:
                        type: boolean
                      hasPrevious:
                        type: boolean
                      startCursor:
                        type: string
                        description: Hex format string, e.g. `0x1234567890abcdef`
                      endCursor:
                        type: string
                        description: Hex format string, e.g. `0x1234567890abcdef`
                    required:
                      - limit
                      - hasNext
                      - hasPrevious
                required:
                  - results
                  - pagination
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIBadRequestResponse'
  /api/comments/{commentId}:
    get:
      tags:
        - comments
      description: Retrieve a single comment by ID
      parameters:
        - schema:
            type: string
            description: The ID of the comment to retrieve
          required: true
          description: Hex format string, e.g. `0x1234567890abcdef`
          name: commentId
          in: path
        - schema:
            type: string
            description: The viewer's address, for personalized data such as reactions
            pattern: ^0x[a-fA-F0-9]+$
          required: false
          description: Hex format string, e.g. `0x1234567890abcdef`
          name: viewer
          in: query
        - schema:
            type: string
            description: >-
              Filters by chain ID. Can be a single chain id or comma-separated
              list of chain ids (e.g. 1,137,10).
          required: true
          name: chainId
          in: query
        - schema:
            type: string
            enum: &ref_1
              - nested
              - flat
            default: nested
            description: >-
              The mode to fetch comments in. Nested will return only the first
              level of comments. Flat will return all replies sorted by
              timestamp in descending order.
          required: false
          name: mode
          in: query
        - schema:
            type:
              - integer
              - 'null'
            minimum: 0
            maximum: 255
            description: The comment type (e.g. 0=comment, 1=reaction, not passed = all)
          required: false
          name: commentType
          in: query
        - schema:
            type: string
            description: >-
              Whether to return only deleted replies or only undeleted replies.
              If omitted it will return both deleted and undeleted replies.
            example: '1'
            pattern: ^(1|0)$
          required: false
          name: isReplyDeleted
          in: query
      responses:
        '200':
          description: A single comment
          content:
            application/json:
              schema:
                type: object
                properties:
                  app:
                    type: string
                    description: Hex format string, e.g. `0x1234567890abcdef`
                  author:
                    type: object
                    properties:
                      address:
                        type: string
                        description: Hex format string, e.g. `0x1234567890abcdef`
                      ens:
                        type: object
                        properties:
                          name:
                            type: string
                          avatarUrl:
                            type:
                              - string
                              - 'null'
                        required:
                          - name
                          - avatarUrl
                      farcaster:
                        type: object
                        properties:
                          fid:
                            type: integer
                          pfpUrl:
                            type: string
                          displayName:
                            type: string
                          username:
                            type: string
                        required:
                          - fid
                          - username
                    required:
                      - address
                  id:
                    type: string
                    description: Hex format string, e.g. `0x1234567890abcdef`
                  channelId:
                    type: string
                    pattern: ^d+$
                  commentType:
                    type: integer
                    minimum: 0
                    maximum: 255
                  content:
                    type: string
                  chainId:
                    type: integer
                  deletedAt:
                    type:
                      - string
                      - 'null'
                  logIndex:
                    type:
                      - integer
                      - 'null'
                  metadata:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: Hex format string, e.g. `0x1234567890abcdef`
                        value:
                          type: string
                          description: Hex format string, e.g. `0x1234567890abcdef`
                      required:
                        - key
                        - value
                  hookMetadata:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: Hex format string, e.g. `0x1234567890abcdef`
                        value:
                          type: string
                          description: Hex format string, e.g. `0x1234567890abcdef`
                      required:
                        - key
                        - value
                  parentId:
                    type:
                      - string
                      - 'null'
                    description: Hex format string, e.g. `0x1234567890abcdef`
                  targetUri:
                    type: string
                  txHash:
                    type: string
                    description: Hex format string, e.g. `0x1234567890abcdef`
                  cursor:
                    type: string
                    description: Hex format string, e.g. `0x1234567890abcdef`
                  moderationStatus:
                    type: string
                    enum: &ref_0
                      - approved
                      - rejected
                      - pending
                  moderationStatusChangedAt:
                    type:
                      - string
                      - 'null'
                  moderationClassifierResult:
                    type: object
                    additionalProperties:
                      type: number
                      minimum: 0
                      maximum: 1
                  moderationClassifierScore:
                    type: number
                    minimum: 0
                    maximum: 1
                  createdAt:
                    type:
                      - string
                      - 'null'
                  updatedAt:
                    type:
                      - string
                      - 'null'
                  revision:
                    type: integer
                  zeroExSwap:
                    type:
                      - object
                      - 'null'
                    properties:
                      from:
                        type: object
                        properties:
                          address:
                            type: string
                            description: Hex format string, e.g. `0x1234567890abcdef`
                          amount:
                            type: string
                            pattern: ^\d+(\.\d+)?$
                          symbol:
                            type: string
                        required:
                          - address
                          - amount
                          - symbol
                      to:
                        type: object
                        properties:
                          address:
                            anyOf:
                              - type: string
                                description: Hex format string, e.g. `0x1234567890abcdef`
                              - type: string
                                enum:
                                  - ''
                            description: Hex format string, e.g. `0x1234567890abcdef`
                          amount:
                            anyOf:
                              - type: string
                                pattern: ^\d+(\.\d+)?$
                              - type: string
                                enum:
                                  - ''
                          symbol:
                            type: string
                        required:
                          - address
                          - amount
                          - symbol
                    required:
                      - from
                      - to
                  references:
                    type: array
                    items:
                      anyOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - ens
                            avatarUrl:
                              type:
                                - string
                                - 'null'
                            name:
                              type: string
                            address:
                              type: string
                              description: Hex format string, e.g. `0x1234567890abcdef`
                            position:
                              type: object
                              properties:
                                start:
                                  type: integer
                                end:
                                  type: integer
                              required:
                                - start
                                - end
                            url:
                              type: string
                              format: uri
                          required:
                            - type
                            - avatarUrl
                            - name
                            - address
                            - position
                            - url
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - erc20
                            symbol:
                              type: string
                            logoURI:
                              type:
                                - string
                                - 'null'
                            name:
                              type: string
                            address:
                              type: string
                              description: Hex format string, e.g. `0x1234567890abcdef`
                            decimals:
                              type: integer
                            position:
                              type: object
                              properties:
                                start:
                                  type: integer
                                end:
                                  type: integer
                              required:
                                - start
                                - end
                            chainId:
                              type:
                                - integer
                                - 'null'
                              exclusiveMinimum: 0
                            chains:
                              type: array
                              items:
                                type: object
                                properties:
                                  caip:
                                    type: string
                                  chainId:
                                    type: integer
                                    exclusiveMinimum: 0
                                required:
                                  - caip
                                  - chainId
                          required:
                            - type
                            - symbol
                            - logoURI
                            - name
                            - address
                            - decimals
                            - position
                            - chainId
                            - chains
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - farcaster
                            address:
                              type: string
                              description: Hex format string, e.g. `0x1234567890abcdef`
                            fid:
                              type: integer
                            fname:
                              type: string
                            username:
                              type: string
                            displayName:
                              type:
                                - string
                                - 'null'
                            pfpUrl:
                              type:
                                - string
                                - 'null'
                            position:
                              type: object
                              properties:
                                start:
                                  type: integer
                                end:
                                  type: integer
                              required:
                                - start
                                - end
                            url:
                              type: string
                              format: uri
                          required:
                            - type
                            - address
                            - fid
                            - fname
                            - username
                            - displayName
                            - pfpUrl
                            - position
                            - url
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - webpage
                            url:
                              type: string
                              format: uri
                            position:
                              type: object
                              properties:
                                start:
                                  type: integer
                                end:
                                  type: integer
                              required:
                                - start
                                - end
                            title:
                              type: string
                            description:
                              type:
                                - string
                                - 'null'
                            favicon:
                              type:
                                - string
                                - 'null'
                              format: uri
                            opengraph:
                              type:
                                - object
                                - 'null'
                              properties:
                                title:
                                  type: string
                                description:
                                  type:
                                    - string
                                    - 'null'
                                image:
                                  type: string
                                  format: uri
                                url:
                                  type: string
                                  format: uri
                              required:
                                - title
                                - description
                                - image
                                - url
                            mediaType:
                              type: string
                          required:
                            - type
                            - url
                            - position
                            - title
                            - description
                            - favicon
                            - opengraph
                            - mediaType
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - file
                            url:
                              type: string
                              format: uri
                            position:
                              type: object
                              properties:
                                start:
                                  type: integer
                                end:
                                  type: integer
                              required:
                                - start
                                - end
                            mediaType:
                              type: string
                          required:
                            - type
                            - url
                            - position
                            - mediaType
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - image
                            url:
                              type: string
                              format: uri
                            position:
                              type: object
                              properties:
                                start:
                                  type: integer
                                end:
                                  type: integer
                              required:
                                - start
                                - end
                            mediaType:
                              type: string
                            dimension:
                              type: object
                              properties:
                                width:
                                  type: integer
                                  minimum: 0
                                height:
                                  type: integer
                                  minimum: 0
                              required:
                                - width
                                - height
                          required:
                            - type
                            - url
                            - position
                            - mediaType
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - video
                            url:
                              type: string
                              format: uri
                            position:
                              type: object
                              properties:
                                start:
                                  type: integer
                                end:
                                  type: integer
                              required:
                                - start
                                - end
                            mediaType:
                              type: string
                            videoTracks:
                              type: array
                              items:
                                type: object
                                properties:
                                  dimension:
                                    type: object
                                    properties:
                                      width:
                                        type: integer
                                        minimum: 0
                                      height:
                                        type: integer
                                        minimum: 0
                                    required:
                                      - width
                                      - height
                                  codec:
                                    type: string
                                required:
                                  - dimension
                          required:
                            - type
                            - url
                            - position
                            - mediaType
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - quoted_comment
                            id:
                              type: string
                              description: Hex format string, e.g. `0x1234567890abcdef`
                            chainId:
                              type: integer
                            position:
                              type: object
                              properties:
                                start:
                                  type: integer
                                end:
                                  type: integer
                              required:
                                - start
                                - end
                          required:
                            - type
                            - id
                            - chainId
                            - position
                        - {}
                        - type: 'null'
                  path:
                    type: string
                  viewerReactions:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        properties:
                          app:
                            type: string
                            description: Hex format string, e.g. `0x1234567890abcdef`
                          author:
                            type: object
                            properties:
                              address:
                                type: string
                                description: Hex format string, e.g. `0x1234567890abcdef`
                              ens:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  avatarUrl:
                                    type:
                                      - string
                                      - 'null'
                                required:
                                  - name
                                  - avatarUrl
                              farcaster:
                                type: object
                                properties:
                                  fid:
                                    type: integer
                                  pfpUrl:
                                    type: string
                                  displayName:
                                    type: string
                                  username:
                                    type: string
                                required:
                                  - fid
                                  - username
                            required:
                              - address
                          id:
                            type: string
                            description: Hex format string, e.g. `0x1234567890abcdef`
                          channelId:
                            type: string
                            pattern: ^d+$
                          commentType:
                            type: integer
                            minimum: 0
                            maximum: 255
                          content:
                            type: string
                          chainId:
                            type: integer
                          deletedAt:
                            type:
                              - string
                              - 'null'
                          logIndex:
                            type:
                              - integer
                              - 'null'
                          metadata:
                            type: array
                            items:
                              type: object
                              properties:
                                key:
                                  type: string
                                  description: Hex format string, e.g. `0x1234567890abcdef`
                                value:
                                  type: string
                                  description: Hex format string, e.g. `0x1234567890abcdef`
                              required:
                                - key
                                - value
                          hookMetadata:
                            type: array
                            items:
                              type: object
                              properties:
                                key:
                                  type: string
                                  description: Hex format string, e.g. `0x1234567890abcdef`
                                value:
                                  type: string
                                  description: Hex format string, e.g. `0x1234567890abcdef`
                              required:
                                - key
                                - value
                          parentId:
                            type:
                              - string
                              - 'null'
                            description: Hex format string, e.g. `0x1234567890abcdef`
                          targetUri:
                            type: string
                          txHash:
                            type: string
                            description: Hex format string, e.g. `0x1234567890abcdef`
                          cursor:
                            type: string
                            description: Hex format string, e.g. `0x1234567890abcdef`
                          moderationStatus:
                            type: string
                            enum: *ref_0
                          moderationStatusChangedAt:
                            type:
                              - string
                              - 'null'
                          moderationClassifierResult:
                            type: object
                            additionalProperties:
                              type: number
                              minimum: 0
                              maximum: 1
                          moderationClassifierScore:
                            type: number
                            minimum: 0
                            maximum: 1
                          createdAt:
                            type:
                              - string
                              - 'null'
                          updatedAt:
                            type:
                              - string
                              - 'null'
                          revision:
                            type: integer
                          zeroExSwap:
                            type:
                              - object
                              - 'null'
                            properties:
                              from:
                                type: object
                                properties:
                                  address:
                                    type: string
                                    description: >-
                                      Hex format string, e.g.
                                      `0x1234567890abcdef`
                                  amount:
                                    type: string
                                    pattern: ^\d+(\.\d+)?$
                                  symbol:
                                    type: string
                                required:
                                  - address
                                  - amount
                                  - symbol
                              to:
                                type: object
                                properties:
                                  address:
                                    anyOf:
                                      - type: string
                                        description: >-
                                          Hex format string, e.g.
                                          `0x1234567890abcdef`
                                      - type: string
                                        enum:
                                          - ''
                                    description: >-
                                      Hex format string, e.g.
                                      `0x1234567890abcdef`
                                  amount:
                                    anyOf:
                                      - type: string
                                        pattern: ^\d+(\.\d+)?$
                                      - type: string
                                        enum:
                                          - ''
                                  symbol:
                                    type: string
                                required:
                                  - address
                                  - amount
                                  - symbol
                            required:
                              - from
                              - to
                          references:
                            type: array
                            items:
                              anyOf:
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - ens
                                    avatarUrl:
                                      type:
                                        - string
                                        - 'null'
                                    name:
                                      type: string
                                    address:
                                      type: string
                                      description: >-
                                        Hex format string, e.g.
                                        `0x1234567890abcdef`
                                    position:
                                      type: object
                                      properties:
                                        start:
                                          type: integer
                                        end:
                                          type: integer
                                      required:
                                        - start
                                        - end
                                    url:
                                      type: string
                                      format: uri
                                  required:
                                    - type
                                    - avatarUrl
                                    - name
                                    - address
                                    - position
                                    - url
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - erc20
                                    symbol:
                                      type: string
                                    logoURI:
                                      type:
                                        - string
                                        - 'null'
                                    name:
                                      type: string
                                    address:
                                      type: string
                                      description: >-
                                        Hex format string, e.g.
                                        `0x1234567890abcdef`
                                    decimals:
                                      type: integer
                                    position:
                                      type: object
                                      properties:
                                        start:
                                          type: integer
                                        end:
                                          type: integer
                                      required:
                                        - start
                                        - end
                                    chainId:
                                      type:
                                        - integer
                                        - 'null'
                                      exclusiveMinimum: 0
                                    chains:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          caip:
                                            type: string
                                          chainId:
                                            type: integer
                                            exclusiveMinimum: 0
                                        required:
                                          - caip
                                          - chainId
                                  required:
                                    - type
                                    - symbol
                                    - logoURI
                                    - name
                                    - address
                                    - decimals
                                    - position
                                    - chainId
                                    - chains
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - farcaster
                                    address:
                                      type: string
                                      description: >-
                                        Hex format string, e.g.
                                        `0x1234567890abcdef`
                                    fid:
                                      type: integer
                                    fname:
                                      type: string
                                    username:
                                      type: string
                                    displayName:
                                      type:
                                        - string
                                        - 'null'
                                    pfpUrl:
                                      type:
                                        - string
                                        - 'null'
                                    position:
                                      type: object
                                      properties:
                                        start:
                                          type: integer
                                        end:
                                          type: integer
                                      required:
                                        - start
                                        - end
                                    url:
                                      type: string
                                      format: uri
                                  required:
                                    - type
                                    - address
                                    - fid
                                    - fname
                                    - username
                                    - displayName
                                    - pfpUrl
                                    - position
                                    - url
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - webpage
                                    url:
                                      type: string
                                      format: uri
                                    position:
                                      type: object
                                      properties:
                                        start:
                                          type: integer
                                        end:
                                          type: integer
                                      required:
                                        - start
                                        - end
                                    title:
                                      type: string
                                    description:
                                      type:
                                        - string
                                        - 'null'
                                    favicon:
                                      type:
                                        - string
                                        - 'null'
                                      format: uri
                                    opengraph:
                                      type:
                                        - object
                                        - 'null'
                                      properties:
                                        title:
                                          type: string
                                        description:
                                          type:
                                            - string
                                            - 'null'
                                        image:
                                          type: string
                                          format: uri
                                        url:
                                          type: string
                                          format: uri
                                      required:
                                        - title
                                        - description
                                        - image
                                        - url
                                    mediaType:
                                      type: string
                                  required:
                                    - type
                                    - url
                                    - position
                                    - title
                                    - description
                                    - favicon
                                    - opengraph
                                    - mediaType
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - file
                                    url:
                                      type: string
                                      format: uri
                                    position:
                                      type: object
                                      properties:
                                        start:
                                          type: integer
                                        end:
                                          type: integer
                                      required:
                                        - start
                                        - end
                                    mediaType:
                                      type: string
                                  required:
                                    - type
                                    - url
                                    - position
                                    - mediaType
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - image
                                    url:
                                      type: string
                                      format: uri
                                    position:
                                      type: object
                                      properties:
                                        start:
                                          type: integer
                                        end:
                                          type: integer
                                      required:
                                        - start
                                        - end
                                    mediaType:
                                      type: string
                                    dimension:
                                      type: object
                                      properties:
                                        width:
                                          type: integer
                                          minimum: 0
                                        height:
                                          type: integer
                                          minimum: 0
                                      required:
                                        - width
                                        - height
                                  required:
                                    - type
                                    - url
                                    - position
                                    - mediaType
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - video
                                    url:
                                      type: string
                                      format: uri
                                    position:
                                      type: object
                                      properties:
                                        start:
                                          type: integer
                                        end:
                                          type: integer
                                      required:
                                        - start
                                        - end
                                    mediaType:
                                      type: string
                                    videoTracks:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          dimension:
                                            type: object
                                            properties:
                                              width:
                                                type: integer
                                                minimum: 0
                                              height:
                                                type: integer
                                                minimum: 0
                                            required:
                                              - width
                                              - height
                                          codec:
                                            type: string
                                        required:
                                          - dimension
                                  required:
                                    - type
                                    - url
                                    - position
                                    - mediaType
                                - type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - quoted_comment
                                    id:
                                      type: string
                                      description: >-
                                        Hex format string, e.g.
                                        `0x1234567890abcdef`
                                    chainId:
                                      type: integer
                                    position:
                                      type: object
                                      properties:
                                        start:
                                          type: integer
                                        end:
                                          type: integer
                                      required:
                                        - start
                                        - end
                                  required:
                                    - type
                                    - id
                                    - chainId
                                    - position
                                - {}
                                - type: 'null'
                          path:
                            type: string
                        required:
                          - app
                          - author
                          - id
                          - channelId
                          - commentType
                          - content
                          - chainId
                          - deletedAt
                          - logIndex
                          - metadata
                          - hookMetadata
                          - parentId
                          - targetUri
                          - txHash
                          - cursor
                          - moderationStatus
                          - moderationStatusChangedAt
                          - moderationClassifierResult
                          - moderationClassifierScore
                          - createdAt
                          - updatedAt
                          - revision
                          - zeroExSwap
                          - references
                          - path
                  reactionCounts:
                    type: object
                    additionalProperties:
                      type: number
                  replies:
                    type: object
                    properties:
                      extra:
                        type: object
                        properties:
                          moderationEnabled:
                            type: boolean
                          moderationKnownReactions:
                            type: array
                            items:
                              type: string
                        required:
                          - moderationEnabled
                          - moderationKnownReactions
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            app:
                              type: string
                              description: Hex format string, e.g. `0x1234567890abcdef`
                            author:
                              type: object
                              properties:
                                address:
                                  type: string
                                  description: Hex format string, e.g. `0x1234567890abcdef`
                                ens:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    avatarUrl:
                                      type:
                                        - string
                                        - 'null'
                                  required:
                                    - name
                                    - avatarUrl
                                farcaster:
                                  type: object
                                  properties:
                                    fid:
                                      type: integer
                                    pfpUrl:
                                      type: string
                                    displayName:
                                      type: string
                                    username:
                                      type: string
                                  required:
                                    - fid
                                    - username
                              required:
                                - address
                            id:
                              type: string
                              description: Hex format string, e.g. `0x1234567890abcdef`
                            channelId:
                              type: string
                              pattern: ^d+$
                            commentType:
                              type: integer
                              minimum: 0
                              maximum: 255
                            content:
                              type: string
                            chainId:
                              type: integer
                            deletedAt:
                              type:
                                - string
                                - 'null'
                            logIndex:
                              type:
                                - integer
                                - 'null'
                            metadata:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    description: >-
                                      Hex format string, e.g.
                                      `0x1234567890abcdef`
                                  value:
                                    type: string
                                    description: >-
                                      Hex format string, e.g.
                                      `0x1234567890abcdef`
                                required:
                                  - key
                                  - value
                            hookMetadata:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                    description: >-
                                      Hex format string, e.g.
                                      `0x1234567890abcdef`
                                  value:
                                    type: string
                                    description: >-
                                      Hex format string, e.g.
                                      `0x1234567890abcdef`
                                required:
                                  - key
                                  - value
                            parentId:
                              type:
                                - string
                                - 'null'
                              description: Hex format string, e.g. `0x1234567890abcdef`
                            targetUri:
                              type: string
                            txHash:
                              type: string
                              description: Hex format string, e.g. `0x1234567890abcdef`
                            cursor:
                              type: string
                              description: Hex format string, e.g. `0x1234567890abcdef`
                            moderationStatus:
                              type: string
                              enum: *ref_0
                            moderationStatusChangedAt:
                              type:
                                - string
                                - 'null'
                            moderationClassifierResult:
                              type: object
                              additionalProperties:
                                type: number
                                minimum: 0
                                maximum: 1
                            moderationClassifierScore:
                              type: number
                              minimum: 0
                              maximum: 1
                            createdAt:
                              type:
                                - string
                                - 'null'
                            updatedAt:
                              type:
                                - string
                                - 'null'
                            revision:
                              type: integer
                            zeroExSwap:
                              type:
                                - object
                                - 'null'
                              properties:
                                from:
                                  type: object
                                  properties:
                                    address:
                                      type: string
                                      description: >-
                                        Hex format string, e.g.
                                        `0x1234567890abcdef`
                                    amount:
                                      type: string
                                      pattern: ^\d+(\.\d+)?$
                                    symbol:
                                      type: string
                                  required:
                                    - address
                                    - amount
                                    - symbol
                                to:
                                  type: object
                                  properties:
                                    address:
                                      anyOf:
                                        - type: string
                                          description: >-
                                            Hex format string, e.g.
                                            `0x1234567890abcdef`
                                        - type: string
                                          enum:
                                            - ''
                                      description: >-
                                        Hex format string, e.g.
                                        `0x1234567890abcdef`
                                    amount:
                                      anyOf:
                                        - type: string
                                          pattern: ^\d+(\.\d+)?$
                                        - type: string
                                          enum:
                                            - ''
                                    symbol:
                                      type: string
                                  required:
                                    - address
                                    - amount
                                    - symbol
                              required:
                                - from
                                - to
                            references:
                              type: array
                              items:
                                anyOf:
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - ens
                                      avatarUrl:
                                        type:
                                          - string
                                          - 'null'
                                      name:
                                        type: string
                                      address:
                                        type: string
                                        description: >-
                                          Hex format string, e.g.
                                          `0x1234567890abcdef`
                                      position:
                                        type: object
                                        properties:
                                          start:
                                            type: integer
                                          end:
                                            type: integer
                                        required:
                                          - start
                                          - end
                                      url:
                                        type: string
                                        format: uri
                                    required:
                                      - type
                                      - avatarUrl
                                      - name
                                      - address
                                      - position
                                      - url
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - erc20
                                      symbol:
                                        type: string
                                      logoURI:
                                        type:
                                          - string
                                          - 'null'
                                      name:
                                        type: string
                                      address:
                                        type: string
                                        description: >-
                                          Hex format string, e.g.
                                          `0x1234567890abcdef`
                                      decimals:
                                        type: integer
                                      position:
                                        type: object
                                        properties:
                                          start:
                                            type: integer
                                          end:
                                            type: integer
                                        required:
                                          - start
                                          - end
                                      chainId:
                                        type:
                                          - integer
                                          - 'null'
                                        exclusiveMinimum: 0
                                      chains:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            caip:
                                              type: string
                                            chainId:
                                              type: integer
                                              exclusiveMinimum: 0
                                          required:
                                            - caip
                                            - chainId
                                    required:
                                      - type
                                      - symbol
                                      - logoURI
                                      - name
                                      - address
                                      - decimals
                                      - position
                                      - chainId
                                      - chains
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - farcaster
                                      address:
                                        type: string
                                        description: >-
                                          Hex format string, e.g.
                                          `0x1234567890abcdef`
                                      fid:
                                        type: integer
                                      fname:
                                        type: string
                                      username:
                                        type: string
                                      displayName:
                                        type:
                                          - string
                                          - 'null'
                                      pfpUrl:
                                        type:
                                          - string
                                          - 'null'
                                      position:
                                        type: object
                                        properties:
                                          start:
                                            type: integer
                                          end:
                                            type: integer
                                        required:
                                          - start
                                          - end
                                      url:
                                        type: string
                                        format: uri
                                    required:
                                      - type
                                      - address
                                      - fid
                                      - fname
                                      - username
                                      - displayName
                                      - pfpUrl
                                      - position
                                      - url
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - webpage
                                      url:
                                        type: string
                                        format: uri
                                      position:
                                        type: object
                                        properties:
                                          start:
                                            type: integer
                                          end:
                                            type: integer
                                        required:
                                          - start
                                          - end
                                      title:
                                        type: string
                                      description:
                                        type:
                                          - string
                                          - 'null'
                                      favicon:
                                        type:
                                          - string
                                          - 'null'
                                        format: uri
                                      opengraph:
                                        type:
                                          - object
                                          - 'null'
                                        properties:
                                          title:
                                            type: string
                                          description:
                                            type:
                                              - string
                                              - 'null'
                                          image:
                                            type: string
                                            format: uri
                                          url:
                                            type: string
                                            format: uri
                                        required:
                                          - title
                                          - description
                                          - image
                                          - url
                                      mediaType:
                                        type: string
                                    required:
                                      - type
                                      - url
                                      - position
                                      - title
                                      - description
                                      - favicon
                                      - opengraph
                                      - mediaType
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - file
                                      url:
                                        type: string
                                        format: uri
                                      position:
                                        type: object
                                        properties:
                                          start:
                                            type: integer
                                          end:
                                            type: integer
                                        required:
                                          - start
                                          - end
                                      mediaType:
                                        type: string
                                    required:
                                      - type
                                      - url
                                      - position
                                      - mediaType
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - image
                                      url:
                                        type: string
                                        format: uri
                                      position:
                                        type: object
                                        properties:
                                          start:
                                            type: integer
                                          end:
                                            type: integer
                                        required:
                                          - start
                                          - end
                                      mediaType:
                                        type: string
                                      dimension:
                                        type: object
                                        properties:
                                          width:
                                            type: integer
                                            minimum: 0
                                          height:
                                            type: integer
                                            minimum: 0
                                        required:
                                          - width
                                          - height
                                    required:
                                      - type
                                      - url
                                      - position
                                      - mediaType
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - video
                                      url:
                                        type: string
                                        format: uri
                                      position:
                                        type: object
                                        properties:
                                          start:
                                            type: integer
                                          end:
                                            type: integer
                                        required:
                                          - start
                                          - end
                                      mediaType:
                                        type: string
                                      videoTracks:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            dimension:
                                              type: object
                                              properties:
                                                width:
                                                  type: integer
                                                  minimum: 0
                                                height:
                                                  type: integer
                                                  minimum: 0
                                              required:
                                                - width
                                                - height
                                            codec:
                                              type: string
                                          required:
                                            - dimension
                                    required:
                                      - type
                                      - url
                                      - position
                                      - mediaType
                                  - type: object
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - quoted_comment
                                      id:
                                        type: string
                                        description: >-
                                          Hex format string, e.g.
                                          `0x1234567890abcdef`
                                      chainId:
                                        type: integer
                                      position:
                                        type: object
                                        properties:
                                          start:
                                            type: integer
                                          end:
                                            type: integer
                                        required:
                                          - start
                                          - end
                                    required:
                                      - type
                                      - id
                                      - chainId
                                      - position
                                  - {}
                                  - type: 'null'
                            path:
                              type: string
                            viewerReactions:
                              type: object
                              additionalProperties:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    app:
                                      type: string
                                      description: >-
                                        Hex format string, e.g.
                                        `0x1234567890abcdef`
                                    author:
                                      type: object
                                      properties:
                                        address:
                                          type: string
                                          description: >-
                                            Hex format string, e.g.
                                            `0x1234567890abcdef`
                                        ens:
                                          type: object
                                          properties:
                                            name:
                                              type: string
                                            avatarUrl:
                                              type:
[...]
