openapi: 3.1.0
info:
  version: 0.0.8
  title: Indexer Restful API
servers:
  - url: https://api.ethcomments.xyz
    description: Production Indexer API
components:
  schemas: {}
  parameters: {}
paths:
  /api/comments:
    get:
      tags:
        - comments
      description: Retrieve a list of comments based on the criteria
      parameters:
        - schema: {}
          required: false
          name: author
          in: query
        - schema:
            description: The viewer's address
          required: false
          name: viewer
          in: query
        - schema:
            description: The address of the app signer
          required: false
          name: app
          in: query
        - schema:
            type: object
            properties:
              createdAt:
                type:
                  - string
                  - 'null'
              id: {}
            required:
              - createdAt
              - id
            description: >-
              Non inclusive cursor from which to fetch the comments based on
              sort
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            pattern: ^d+$
            description: The channel ID
          required: false
          name: channelId
          in: query
        - schema:
            type:
              - integer
              - 'null'
            minimum: 0
            maximum: 255
            description: The comment type (e.g. 0=comment, 1=reaction)
          required: false
          name: commentType
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
            description: The number of comments to return
          required: false
          name: limit
          in: query
        - schema:
            type: string
            format: uri
            description: The comment target URI
          required: false
          name: targetUri
          in: query
        - schema:
            type: string
            enum: &ref_1
              - asc
              - desc
            default: desc
            description: The sort order of the comments
          required: false
          name: sort
          in: query
        - schema:
            type: string
            enum: &ref_2
              - nested
              - flat
            default: nested
            description: >-
              The mode to fetch comments in. Nested will return only the first
              level of comments. Flat will return all replies sorted by
              timestamp in descending order.
          required: false
          name: mode
          in: query
      responses:
        '200':
          description: Retrieve a list of comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        app: {}
                        author:
                          type: object
                          properties:
                            address: {}
                            ens:
                              type: object
                              properties:
                                name:
                                  type: string
                                avatarUrl:
                                  type:
                                    - string
                                    - 'null'
                              required:
                                - name
                                - avatarUrl
                            farcaster:
                              type: object
                              properties:
                                fid:
                                  type: integer
                                pfpUrl:
                                  type: string
                                displayName:
                                  type: string
                                username:
                                  type: string
                              required:
                                - fid
                          required:
                            - address
                        id: {}
                        channelId:
                          type: string
                          pattern: ^d+$
                        commentType:
                          type: integer
                          minimum: 0
                          maximum: 255
                        content:
                          type: string
                        chainId:
                          type: integer
                        deletedAt:
                          type:
                            - string
                            - 'null'
                        logIndex:
                          type:
                            - integer
                            - 'null'
                        metadata:
                          type: array
                          items:
                            type: object
                            properties:
                              key: {}
                              value: {}
                            required:
                              - key
                              - value
                        hookMetadata:
                          type: array
                          items:
                            type: object
                            properties:
                              key: {}
                              value: {}
                            required:
                              - key
                              - value
                        parentId: {}
                        targetUri:
                          type: string
                        txHash: {}
                        cursor: {}
                        moderationStatus:
                          type: string
                          enum: &ref_0
                            - approved
                            - rejected
                            - pending
                        moderationStatusChangedAt:
                          type:
                            - string
                            - 'null'
                        createdAt:
                          type:
                            - string
                            - 'null'
                        updatedAt:
                          type:
                            - string
                            - 'null'
                        revision:
                          type: integer
                        zeroExSwap:
                          type:
                            - object
                            - 'null'
                          properties:
                            from:
                              type: object
                              properties:
                                address: {}
                                amount:
                                  type: string
                                  pattern: ^\d+(\.\d+)?$
                                symbol:
                                  type: string
                              required:
                                - address
                                - amount
                                - symbol
                            to:
                              type: object
                              properties:
                                address: {}
                                amount:
                                  type: string
                                  pattern: ^\d+(\.\d+)?$
                                symbol:
                                  type: string
                              required:
                                - address
                                - amount
                                - symbol
                          required:
                            - from
                            - to
                        replies:
                          type: object
                          properties:
                            extra:
                              type: object
                              properties:
                                moderationEnabled:
                                  type: boolean
                              required:
                                - moderationEnabled
                            results:
                              type: array
                              items:
                                type: object
                                properties:
                                  app: {}
                                  author:
                                    type: object
                                    properties:
                                      address: {}
                                      ens:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                          avatarUrl:
                                            type:
                                              - string
                                              - 'null'
                                        required:
                                          - name
                                          - avatarUrl
                                      farcaster:
                                        type: object
                                        properties:
                                          fid:
                                            type: integer
                                          pfpUrl:
                                            type: string
                                          displayName:
                                            type: string
                                          username:
                                            type: string
                                        required:
                                          - fid
                                    required:
                                      - address
                                  id: {}
                                  channelId:
                                    type: string
                                    pattern: ^d+$
                                  commentType:
                                    type: integer
                                    minimum: 0
                                    maximum: 255
                                  content:
                                    type: string
                                  chainId:
                                    type: integer
                                  deletedAt:
                                    type:
                                      - string
                                      - 'null'
                                  logIndex:
                                    type:
                                      - integer
                                      - 'null'
                                  metadata:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key: {}
                                        value: {}
                                      required:
                                        - key
                                        - value
                                  hookMetadata:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key: {}
                                        value: {}
                                      required:
                                        - key
                                        - value
                                  parentId: {}
                                  targetUri:
                                    type: string
                                  txHash: {}
                                  cursor: {}
                                  moderationStatus:
                                    type: string
                                    enum: *ref_0
                                  moderationStatusChangedAt:
                                    type:
                                      - string
                                      - 'null'
                                  createdAt:
                                    type:
                                      - string
                                      - 'null'
                                  updatedAt:
                                    type:
                                      - string
                                      - 'null'
                                  revision:
                                    type: integer
                                  zeroExSwap:
                                    type:
                                      - object
                                      - 'null'
                                    properties:
                                      from:
                                        type: object
                                        properties:
                                          address: {}
                                          amount:
                                            type: string
                                            pattern: ^\d+(\.\d+)?$
                                          symbol:
                                            type: string
                                        required:
                                          - address
                                          - amount
                                          - symbol
                                      to:
                                        type: object
                                        properties:
                                          address: {}
                                          amount:
                                            type: string
                                            pattern: ^\d+(\.\d+)?$
                                          symbol:
                                            type: string
                                        required:
                                          - address
                                          - amount
                                          - symbol
                                    required:
                                      - from
                                      - to
                                required:
                                  - app
                                  - author
                                  - id
                                  - channelId
                                  - commentType
                                  - content
                                  - chainId
                                  - deletedAt
                                  - logIndex
                                  - metadata
                                  - hookMetadata
                                  - parentId
                                  - targetUri
                                  - txHash
                                  - cursor
                                  - moderationStatus
                                  - moderationStatusChangedAt
                                  - createdAt
                                  - updatedAt
                                  - revision
                                  - zeroExSwap
                            pagination:
                              type: object
                              properties:
                                limit:
                                  type: integer
                                hasNext:
                                  type: boolean
                                hasPrevious:
                                  type: boolean
                                startCursor: {}
                                endCursor: {}
                              required:
                                - limit
                                - hasNext
                                - hasPrevious
                          required:
                            - extra
                            - results
                            - pagination
                      required:
                        - app
                        - author
                        - id
                        - channelId
                        - commentType
                        - content
                        - chainId
                        - deletedAt
                        - logIndex
                        - metadata
                        - hookMetadata
                        - parentId
                        - targetUri
                        - txHash
                        - cursor
                        - moderationStatus
                        - moderationStatusChangedAt
                        - createdAt
                        - updatedAt
                        - revision
                        - zeroExSwap
                        - replies
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      hasNext:
                        type: boolean
                      hasPrevious:
                        type: boolean
                      startCursor: {}
                      endCursor: {}
                    required:
                      - limit
                      - hasNext
                      - hasPrevious
                  extra:
                    type: object
                    properties:
                      moderationEnabled:
                        type: boolean
                    required:
                      - moderationEnabled
                required:
                  - results
                  - pagination
                  - extra
  /api/comments/{commentId}/replies:
    get:
      tags:
        - comments
      description: Return a single comments according to the id and additional criteria
      parameters:
        - schema:
            description: The comment ID
          required: true
          name: commentId
          in: path
        - schema: {}
          required: false
          name: author
          in: query
        - schema:
            description: The viewer's address
          required: false
          name: viewer
          in: query
        - schema:
            description: The address of the app signer
          required: false
          name: app
          in: query
        - schema:
            type: object
            properties:
              createdAt:
                type:
                  - string
                  - 'null'
              id: {}
            required:
              - createdAt
              - id
            description: >-
              Non inclusive cursor from which to fetch the comments based on
              sort
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            pattern: ^d+$
            description: The channel ID
          required: false
          name: channelId
          in: query
        - schema:
            type:
              - integer
              - 'null'
            minimum: 0
            maximum: 255
            description: The comment type (e.g. 0=comment, 1=reaction)
          required: false
          name: commentType
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
            description: The number of comments to return
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum: *ref_1
            default: desc
            description: The sort order of the comments
          required: false
          name: sort
          in: query
        - schema:
            type: string
            enum: *ref_2
            default: nested
            description: >-
              The mode to fetch comments in. Nested will return only the first
              level of comments. Flat will return all replies sorted by
              timestamp in descending order.
          required: false
          name: mode
          in: query
      responses:
        '200':
          description: Retrieve specific comment with its replies
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        app: {}
                        author:
                          type: object
                          properties:
                            address: {}
                            ens:
                              type: object
                              properties:
                                name:
                                  type: string
                                avatarUrl:
                                  type:
                                    - string
                                    - 'null'
                              required:
                                - name
                                - avatarUrl
                            farcaster:
                              type: object
                              properties:
                                fid:
                                  type: integer
                                pfpUrl:
                                  type: string
                                displayName:
                                  type: string
                                username:
                                  type: string
                              required:
                                - fid
                          required:
                            - address
                        id: {}
                        channelId:
                          type: string
                          pattern: ^d+$
                        commentType:
                          type: integer
                          minimum: 0
                          maximum: 255
                        content:
                          type: string
                        chainId:
                          type: integer
                        deletedAt:
                          type:
                            - string
                            - 'null'
                        logIndex:
                          type:
                            - integer
                            - 'null'
                        metadata:
                          type: array
                          items:
                            type: object
                            properties:
                              key: {}
                              value: {}
                            required:
                              - key
                              - value
                        hookMetadata:
                          type: array
                          items:
                            type: object
                            properties:
                              key: {}
                              value: {}
                            required:
                              - key
                              - value
                        parentId: {}
                        targetUri:
                          type: string
                        txHash: {}
                        cursor: {}
                        moderationStatus:
                          type: string
                          enum: *ref_0
                        moderationStatusChangedAt:
                          type:
                            - string
                            - 'null'
                        createdAt:
                          type:
                            - string
                            - 'null'
                        updatedAt:
                          type:
                            - string
                            - 'null'
                        revision:
                          type: integer
                        zeroExSwap:
                          type:
                            - object
                            - 'null'
                          properties:
                            from:
                              type: object
                              properties:
                                address: {}
                                amount:
                                  type: string
                                  pattern: ^\d+(\.\d+)?$
                                symbol:
                                  type: string
                              required:
                                - address
                                - amount
                                - symbol
                            to:
                              type: object
                              properties:
                                address: {}
                                amount:
                                  type: string
                                  pattern: ^\d+(\.\d+)?$
                                symbol:
                                  type: string
                              required:
                                - address
                                - amount
                                - symbol
                          required:
                            - from
                            - to
                        replies:
                          type: object
                          properties:
                            extra:
                              type: object
                              properties:
                                moderationEnabled:
                                  type: boolean
                              required:
                                - moderationEnabled
                            results:
                              type: array
                              items:
                                type: object
                                properties:
                                  app: {}
                                  author:
                                    type: object
                                    properties:
                                      address: {}
                                      ens:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                          avatarUrl:
                                            type:
                                              - string
                                              - 'null'
                                        required:
                                          - name
                                          - avatarUrl
                                      farcaster:
                                        type: object
                                        properties:
                                          fid:
                                            type: integer
                                          pfpUrl:
                                            type: string
                                          displayName:
                                            type: string
                                          username:
                                            type: string
                                        required:
                                          - fid
                                    required:
                                      - address
                                  id: {}
                                  channelId:
                                    type: string
                                    pattern: ^d+$
                                  commentType:
                                    type: integer
                                    minimum: 0
                                    maximum: 255
                                  content:
                                    type: string
                                  chainId:
                                    type: integer
                                  deletedAt:
                                    type:
                                      - string
                                      - 'null'
                                  logIndex:
                                    type:
                                      - integer
                                      - 'null'
                                  metadata:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key: {}
                                        value: {}
                                      required:
                                        - key
                                        - value
                                  hookMetadata:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key: {}
                                        value: {}
                                      required:
                                        - key
                                        - value
                                  parentId: {}
                                  targetUri:
                                    type: string
                                  txHash: {}
                                  cursor: {}
                                  moderationStatus:
                                    type: string
                                    enum: *ref_0
                                  moderationStatusChangedAt:
                                    type:
                                      - string
                                      - 'null'
                                  createdAt:
                                    type:
                                      - string
                                      - 'null'
                                  updatedAt:
                                    type:
                                      - string
                                      - 'null'
                                  revision:
                                    type: integer
                                  zeroExSwap:
                                    type:
                                      - object
                                      - 'null'
                                    properties:
                                      from:
                                        type: object
                                        properties:
                                          address: {}
                                          amount:
                                            type: string
                                            pattern: ^\d+(\.\d+)?$
                                          symbol:
                                            type: string
                                        required:
                                          - address
                                          - amount
                                          - symbol
                                      to:
                                        type: object
                                        properties:
                                          address: {}
                                          amount:
                                            type: string
                                            pattern: ^\d+(\.\d+)?$
                                          symbol:
                                            type: string
                                        required:
                                          - address
                                          - amount
                                          - symbol
                                    required:
                                      - from
                                      - to
                                required:
                                  - app
                                  - author
                                  - id
                                  - channelId
                                  - commentType
                                  - content
                                  - chainId
                                  - deletedAt
                                  - logIndex
                                  - metadata
                                  - hookMetadata
                                  - parentId
                                  - targetUri
                                  - txHash
                                  - cursor
                                  - moderationStatus
                                  - moderationStatusChangedAt
                                  - createdAt
                                  - updatedAt
                                  - revision
                                  - zeroExSwap
                            pagination:
                              type: object
                              properties:
                                limit:
                                  type: integer
                                hasNext:
                                  type: boolean
                                hasPrevious:
                                  type: boolean
                                startCursor: {}
                                endCursor: {}
                              required:
                                - limit
                                - hasNext
                                - hasPrevious
                          required:
                            - extra
                            - results
                            - pagination
                      required:
                        - app
                        - author
                        - id
                        - channelId
                        - commentType
                        - content
                        - chainId
                        - deletedAt
                        - logIndex
                        - metadata
                        - hookMetadata
                        - parentId
                        - targetUri
                        - txHash
                        - cursor
                        - moderationStatus
                        - moderationStatusChangedAt
                        - createdAt
                        - updatedAt
                        - revision
                        - zeroExSwap
                        - replies
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      hasNext:
                        type: boolean
                      hasPrevious:
                        type: boolean
                      startCursor: {}
                      endCursor: {}
                    required:
                      - limit
                      - hasNext
                      - hasPrevious
                  extra:
                    type: object
                    properties:
                      moderationEnabled:
                        type: boolean
                    required:
                      - moderationEnabled
                required:
                  - results
                  - pagination
                  - extra
        '400':
          description: When request is not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
  /api/approvals:
    get:
      tags:
        - approvals
      description: Retrieve a list of approvals according to the criteria
      parameters:
        - schema:
            description: The author's address
          required: true
          name: author
          in: query
        - schema:
            description: The address of the app signer
          required: true
          name: app
          in: query
        - schema:
            type: integer
            exclusiveMinimum: 0
            maximum: 100
            default: 50
            description: The number of comments to return
          required: false
          name: limit
          in: query
        - schema:
            type:
              - integer
              - 'null'
            minimum: 0
            default: 0
            description: The offset of the comments to return
          required: false
          name: offset
          in: query
      responses:
        '200':
          description: Retrieve a list of approvals according to the criteria
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        app: {}
                        deletedAt:
                          type:
                            - string
                            - 'null'
                        chainId:
                          type: integer
                        txHash: {}
                      required:
                        - id
                        - app
                        - deletedAt
                        - chainId
                        - txHash
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      offset:
                        type: integer
                      hasMore:
                        type: boolean
                    required:
                      - limit
                      - offset
                      - hasMore
                required:
                  - results
                  - pagination
  /api/authors/{authorAddress}:
    get:
      tags:
        - comments
      description: Retrieve author ENS / Farcaster data
      parameters:
        - schema:
            description: The author's address
          required: true
          name: authorAddress
          in: path
      responses:
        '200':
          description: An object with author address and ENS and Farcaster data
          content:
            application/json:
              schema:
                type: object
                properties:
                  address: {}
                  ens:
                    type: object
                    properties:
                      name:
                        type: string
                      avatarUrl:
                        type:
                          - string
                          - 'null'
                    required:
                      - name
                      - avatarUrl
                  farcaster:
                    type: object
                    properties:
                      fid:
                        type: integer
                      pfpUrl:
                        type: string
                      displayName:
                        type: string
                      username:
                        type: string
                    required:
                      - fid
                required:
                  - address
  /api/muted-accounts/{address}:
    get:
      tags:
        - comments
      description: Check if an address is marked as muted
      parameters:
        - schema:
            description: The address of the muted account
          required: true
          name: address
          in: path
      responses:
        '200':
          description: When address is marked as muted
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    description: The address of the muted account
                  createdAt:
                    type:
                      - string
                      - 'null'
                    description: The date the account was muted
                required:
                  - address
                  - createdAt
        '400':
          description: When request is not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
        '404':
          description: When address is not marked as muted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
    delete:
      tags:
        - comments
      description: >-
        Removes account from muted list, newer comments from this account will
        be indexed
      parameters:
        - schema:
            description: The address of the muted account
          required: true
          name: address
          in: path
      responses:
        '204':
          description: When muted account was unmuted
        '400':
          description: When request is not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
        '401':
          description: When request is not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
        '404':
          description: When muted account was not found in the list
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
  /api/muted-accounts:
    post:
      tags:
        - comments
      description: >-
        Marks account as muted, newer comments from this account won't be
        indexed
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  description: The address of the muted account
                reason:
                  type: string
                  description: The reason for muting the account
              required:
                - address
      responses:
        '200':
          description: An object with muted account address
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    description: The address of the muted account
                required:
                  - address
        '400':
          description: When request data is not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
        '401':
          description: When request is not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
        '409':
          description: When account is already marked as muted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
  /api/moderate-comments:
    get:
      tags:
        - comments
      description: Get a list of comments pending moderation
      parameters:
        - schema:
            type: object
            properties:
              createdAt:
                type:
                  - string
                  - 'null'
              id: {}
            required:
              - createdAt
              - id
            description: >-
              Non inclusive cursor from which to fetch the comments based on
              sort
          required: false
          name: cursor
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
            description: The number of comments to return
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
            description: The sort order of the comments
          required: false
          name: sort
          in: query
      responses:
        '200':
          description: List of pending comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        app: {}
                        author:
                          type: object
                          properties:
                            address: {}
                            ens:
                              type: object
                              properties:
                                name:
                                  type: string
                                avatarUrl:
                                  type:
                                    - string
                                    - 'null'
                              required:
                                - name
                                - avatarUrl
                            farcaster:
                              type: object
                              properties:
                                fid:
                                  type: integer
                                pfpUrl:
                                  type: string
                                displayName:
                                  type: string
                                username:
                                  type: string
                              required:
                                - fid
                          required:
                            - address
                        id: {}
                        channelId:
                          type: string
                          pattern: ^d+$
                        commentType:
                          type: integer
                          minimum: 0
                          maximum: 255
                        content:
                          type: string
                        chainId:
                          type: integer
                        deletedAt:
                          type:
                            - string
                            - 'null'
                        logIndex:
                          type:
                            - integer
                            - 'null'
                        metadata:
                          type: array
                          items:
                            type: object
                            properties:
                              key: {}
                              value: {}
                            required:
                              - key
                              - value
                        hookMetadata:
                          type: array
                          items:
                            type: object
                            properties:
                              key: {}
                              value: {}
                            required:
                              - key
                              - value
                        parentId: {}
                        targetUri:
                          type: string
                        txHash: {}
                        cursor: {}
                        moderationStatus:
                          type: string
                          enum: *ref_0
                        moderationStatusChangedAt:
                          type:
                            - string
                            - 'null'
                        createdAt:
                          type:
                            - string
                            - 'null'
                        updatedAt:
                          type:
                            - string
                            - 'null'
                        revision:
                          type: integer
                        zeroExSwap:
                          type:
                            - object
                            - 'null'
                          properties:
                            from:
                              type: object
                              properties:
                                address: {}
                                amount:
                                  type: string
                                  pattern: ^\d+(\.\d+)?$
                                symbol:
                                  type: string
                              required:
                                - address
                                - amount
                                - symbol
                            to:
                              type: object
                              properties:
                                address: {}
                                amount:
                                  type: string
                                  pattern: ^\d+(\.\d+)?$
                                symbol:
                                  type: string
                              required:
                                - address
                                - amount
                                - symbol
                          required:
                            - from
                            - to
                      required:
                        - app
                        - author
                        - id
                        - channelId
                        - commentType
                        - content
                        - chainId
                        - deletedAt
                        - logIndex
                        - metadata
                        - hookMetadata
                        - parentId
                        - targetUri
                        - txHash
                        - cursor
                        - moderationStatus
                        - moderationStatusChangedAt
                        - createdAt
                        - updatedAt
                        - revision
                        - zeroExSwap
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      hasNext:
                        type: boolean
                      hasPrevious:
                        type: boolean
                      startCursor: {}
                      endCursor: {}
                    required:
                      - limit
                      - hasNext
                      - hasPrevious
                required:
                  - results
                  - pagination
        '400':
          description: When request is not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
        '401':
          description: When user is not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
  /api/moderate-comments/{commentId}:
    patch:
      tags:
        - comments
      description: Change the moderation status of a comment
      parameters:
        - schema:
            description: The ID of the comment to moderate
          required: true
          name: commentId
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                moderationStatus:
                  type: string
                  enum: *ref_0
                  description: The moderation status of the comment
              required:
                - moderationStatus
      responses:
        '200':
          description: Comment with moderation status changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  app: {}
                  author:
                    type: object
                    properties:
                      address: {}
                      ens:
                        type: object
                        properties:
                          name:
                            type: string
                          avatarUrl:
                            type:
                              - string
                              - 'null'
                        required:
                          - name
                          - avatarUrl
                      farcaster:
                        type: object
                        properties:
                          fid:
                            type: integer
                          pfpUrl:
                            type: string
                          displayName:
                            type: string
                          username:
                            type: string
                        required:
                          - fid
                    required:
                      - address
                  id: {}
                  channelId:
                    type: string
                    pattern: ^d+$
                  commentType:
                    type: integer
                    minimum: 0
                    maximum: 255
                  content:
                    type: string
                  chainId:
                    type: integer
                  deletedAt:
                    type:
                      - string
                      - 'null'
                  logIndex:
                    type:
                      - integer
                      - 'null'
                  metadata:
                    type: array
                    items:
                      type: object
                      properties:
                        key: {}
                        value: {}
                      required:
                        - key
                        - value
                  hookMetadata:
                    type: array
                    items:
                      type: object
                      properties:
                        key: {}
                        value: {}
                      required:
                        - key
                        - value
                  parentId: {}
                  targetUri:
                    type: string
                  txHash: {}
                  cursor: {}
                  moderationStatus:
                    type: string
                    enum: *ref_0
                  moderationStatusChangedAt:
                    type:
                      - string
                      - 'null'
                  createdAt:
                    type:
                      - string
                      - 'null'
                  updatedAt:
                    type:
                      - string
                      - 'null'
                  revision:
                    type: integer
                  zeroExSwap:
                    type:
                      - object
                      - 'null'
                    properties:
                      from:
                        type: object
                        properties:
                          address: {}
                          amount:
                            type: string
                            pattern: ^\d+(\.\d+)?$
                          symbol:
                            type: string
                        required:
                          - address
                          - amount
                          - symbol
                      to:
                        type: object
                        properties:
                          address: {}
                          amount:
                            type: string
                            pattern: ^\d+(\.\d+)?$
                          symbol:
                            type: string
                        required:
                          - address
                          - amount
                          - symbol
                    required:
                      - from
                      - to
                required:
                  - app
                  - author
                  - id
                  - channelId
                  - commentType
                  - content
                  - chainId
                  - deletedAt
                  - logIndex
                  - metadata
                  - hookMetadata
                  - parentId
                  - targetUri
                  - txHash
                  - cursor
                  - moderationStatus
                  - moderationStatusChangedAt
                  - createdAt
                  - updatedAt
                  - revision
                  - zeroExSwap
        '400':
          description: When request is not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
        '401':
          description: When user is not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
        '404':
          description: When comment is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
    get:
      tags:
        - comments
      description: Get a comment by ID with its moderation status
      parameters:
        - schema:
            description: The ID of the comment to moderate
          required: true
          name: commentId
          in: path
      responses:
        '200':
          description: Comment found
          content:
            application/json:
              schema:
                type: object
                properties:
                  app: {}
                  author:
                    type: object
                    properties:
                      address: {}
                      ens:
                        type: object
                        properties:
                          name:
                            type: string
                          avatarUrl:
                            type:
                              - string
                              - 'null'
                        required:
                          - name
                          - avatarUrl
                      farcaster:
                        type: object
                        properties:
                          fid:
                            type: integer
                          pfpUrl:
                            type: string
                          displayName:
                            type: string
                          username:
                            type: string
                        required:
                          - fid
                    required:
                      - address
                  id: {}
                  channelId:
                    type: string
                    pattern: ^d+$
                  commentType:
                    type: integer
                    minimum: 0
                    maximum: 255
                  content:
                    type: string
                  chainId:
                    type: integer
                  deletedAt:
                    type:
                      - string
                      - 'null'
                  logIndex:
                    type:
                      - integer
                      - 'null'
                  metadata:
                    type: array
                    items:
                      type: object
                      properties:
                        key: {}
                        value: {}
                      required:
                        - key
                        - value
                  hookMetadata:
                    type: array
                    items:
                      type: object
                      properties:
                        key: {}
                        value: {}
                      required:
                        - key
                        - value
                  parentId: {}
                  targetUri:
                    type: string
                  txHash: {}
                  cursor: {}
                  moderationStatus:
                    type: string
                    enum: *ref_0
                  moderationStatusChangedAt:
                    type:
                      - string
                      - 'null'
                  createdAt:
                    type:
                      - string
                      - 'null'
                  updatedAt:
                    type:
                      - string
                      - 'null'
                  revision:
                    type: integer
                  zeroExSwap:
                    type:
                      - object
                      - 'null'
                    properties:
                      from:
                        type: object
                        properties:
                          address: {}
                          amount:
                            type: string
                            pattern: ^\d+(\.\d+)?$
                          symbol:
                            type: string
                        required:
                          - address
                          - amount
                          - symbol
                      to:
                        type: object
                        properties:
                          address: {}
                          amount:
                            type: string
                            pattern: ^\d+(\.\d+)?$
                          symbol:
                            type: string
                        required:
                          - address
                          - amount
                          - symbol
                    required:
                      - from
                      - to
                required:
                  - app
                  - author
                  - id
                  - channelId
                  - commentType
                  - content
                  - chainId
                  - deletedAt
                  - logIndex
                  - metadata
                  - hookMetadata
                  - parentId
                  - targetUri
                  - txHash
                  - cursor
                  - moderationStatus
                  - moderationStatusChangedAt
                  - createdAt
                  - updatedAt
                  - revision
                  - zeroExSwap
        '401':
          description: When user is not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
        '404':
          description: When comment is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
  /api/webhook:
    get:
      description: Webhook to receive commands
      parameters:
        - schema:
            oneOf:
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                      - approve
                  commentId: {}
                required:
                  - type
                  - commentId
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                      - reject
                  commentId: {}
                required:
                  - type
                  - commentId
          required: true
          name: c
          in: query
      responses:
        '204':
          description: When webhook request is valid
        '400':
          description: When request is not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
        '401':
          description: When request signature is not valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
webhooks: {}
