openapi: 3.1.0
info:
  version: 0.0.16
  title: Indexer Restful API
servers:
  - url: https://api.ethcomments.xyz
    description: Production Indexer API
components:
  schemas: {}
  parameters: {}
paths:
  /api/channels/{channelId}:
    get:
      tags:
        - channels
      description: Retrieve a channel by ID
      parameters:
        - schema:
            type: string
            pattern: ^d+$
            description: The ID of the channel
          required: true
          name: channelId
          in: path
      responses:
        '200':
          description: Retrieve a list of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    pattern: ^d+$
                  createdAt:
                    type:
                      - string
                      - 'null'
                  updatedAt:
                    type:
                      - string
                      - 'null'
                  owner: {}
                  name:
                    type: string
                  description:
                    type: string
                  metadata:
                    type: array
                    items:
                      type: object
                      properties:
                        key: {}
                        value: {}
                      required:
                        - key
                        - value
                  hook: {}
                  chainId:
                    type: integer
                required:
                  - id
                  - createdAt
                  - updatedAt
                  - owner
                  - name
                  - description
                  - metadata
                  - hook
                  - chainId
        '404':
          description: Channel not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message
                required:
                  - message
  /api/channels:
    get:
      tags:
        - channels
      description: Retrieve a list of channels based on the criteria
      parameters:
        - schema:
            type: string
            description: >-
              Non inclusive cursor from which to fetch the channels based on
              sort
            pattern: ^0x[a-fA-F0-9]+$
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            description: Filter channels by owner
            pattern: ^0x[a-fA-F0-9]+$
          required: false
          name: owner
          in: query
        - schema:
            type: string
            description: >-
              Filters by chain ID. Can be a single chain id or comma-separated
              list of chain ids (e.g. 1,137,10).
          required: true
          name: chainId
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
            description: The number of channels to return
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
            description: The sort order of the channels
          required: false
          name: sort
          in: query
      responses:
        '200':
          description: Retrieve a list of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: ^d+$
                        createdAt:
                          type:
                            - string
                            - 'null'
                        updatedAt:
                          type:
                            - string
                            - 'null'
                        owner: {}
                        name:
                          type: string
                        description:
                          type: string
                        metadata:
                          type: array
                          items:
                            type: object
                            properties:
                              key: {}
                              value: {}
                            required:
                              - key
                              - value
                        hook: {}
                        chainId:
                          type: integer
                      required:
                        - id
                        - createdAt
                        - updatedAt
                        - owner
                        - name
                        - description
                        - metadata
                        - hook
                        - chainId
                  pagination:
                    type: object
                    properties:
                      limit:
                        type: integer
                      hasNext:
                        type: boolean
                      hasPrevious:
                        type: boolean
                      startCursor: {}
                      endCursor: {}
                    required:
                      - limit
                      - hasNext
                      - hasPrevious
                required:
                  - results
                  - pagination
  /api/comments:
    get:
      tags:
        - comments
      description: Retrieve a list of comments based on the criteria
      parameters:
        - schema:
            type: string
            pattern: ^0x[a-fA-F0-9]+$
          required: false
          name: author
          in: query
        - schema:
            type: string
            description: The viewer's address
            pattern: ^0x[a-fA-F0-9]+$
          required: false
          name: viewer
          in: query
        - schema:
            type: string
            description: The address of the app signer
            pattern: ^0x[a-fA-F0-9]+$
          required: false
          name: app
          in: query
        - schema:
            type: string
            description: >-
              Non inclusive cursor from which to fetch the comments based on
              sort
            pattern: ^0x[a-fA-F0-9]+$
          required: false
          name: cursor
          in: query
        - schema:
            type: string
            pattern: ^d+$
            description: The channel ID
          required: false
          name: channelId
          in: query
        - schema:
            type:
              - integer
              - 'null'
            minimum: 0
            maximum: 255
            description: The comment type (e.g. 0=comment, 1=reaction, not passed = all)
          required: false
          name: commentType
          in: query
        - schema:
            type: string
            description: >-
              Filters by chain ID. Can be a single chain id or comma-separated
              list of chain ids (e.g. 1,137,10).
          required: true
          name: chainId
          in: query
        - schema:
            anyOf:
              - type: string
                enum: &ref_0
                  - approved
                  - rejected
                  - pending
              - type: array
                items:
                  type: string
                  enum: *ref_0
            description: >-
              The moderation status of the comments to return. If omitted it
              will return comments based on moderation settings (approved if
              moderation is enabled).
          required: false
          name: moderationStatus
          in: query
        - schema:
            type: number
            description: >-
              The moderation score of the comments to return. If the comment's
              moderation score exceeds the provided value, it is not returned.
            minimum: 0
            maximum: 1
          required: false
          name: moderationScore
          in: query
        - schema:
            type: string
            description: >-
              The moderation labels to exclude from the comments to return. This
              filter works in conjunction with the `moderationStatus` filter.
            example: spam,sexual
            pattern: >-
              ^(llm_generated|spam|sexual|hate|violence|harassment|self_harm|sexual_minors|hate_threatening|violence_graphic)$
          required: false
          name: excludeByModerationLabels
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
            description: The number of comments to return
          required: false
          name: limit
          in: query
        - schema:
            type: string
            format: uri
            description: The comment target URI
          required: false
          name: targetUri
          in: query
        - schema:
            type: string
            enum: &ref_1
              - asc
              - desc
            default: desc
            description: The sort order of the comments
          required: false
          name: sort
          in: query
        - schema:
            type: string
            enum: &ref_2
              - nested
              - flat
            default: nested
            description: >-
              The mode to fetch comments in. Nested will return only the first
              level of comments. Flat will return all replies sorted by
              timestamp in descending order.
          required: false
          name: mode
          in: query
      responses:
        '200':
          description: Retrieve a list of comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        app: {}
                        author:
                          type: object
                          properties:
                            address: {}
                            ens:
                              type: object
                              properties:
                                name:
                                  type: string
                                avatarUrl:
                                  type:
                                    - string
                                    - 'null'
                              required:
                                - name
                                - avatarUrl
                            farcaster:
                              type: object
                              properties:
                                fid:
                                  type: integer
                                pfpUrl:
                                  type: string
                                displayName:
                                  type: string
                                username:
                                  type: string
                              required:
                                - fid
                                - username
                          required:
                            - address
                        id: {}
                        channelId:
                          type: string
                          pattern: ^d+$
                        commentType:
                          type: integer
                          minimum: 0
                          maximum: 255
                        content:
                          type: string
                        chainId:
                          type: integer
                        deletedAt:
                          type:
                            - string
                            - 'null'
                        logIndex:
                          type:
                            - integer
                            - 'null'
                        metadata:
                          type: array
                          items:
                            type: object
                            properties:
                              key: {}
                              value: {}
                            required:
                              - key
                              - value
                        hookMetadata:
                          type: array
                          items:
                            type: object
                            properties:
                              key: {}
                              value: {}
                            required:
                              - key
                              - value
                        parentId: {}
                        targetUri:
                          type: string
                        txHash: {}
                        cursor: {}
                        moderationStatus:
                          type: string
                          enum: *ref_0
                        moderationStatusChangedAt:
                          type:
                            - string
                            - 'null'
                        moderationClassifierResult:
                          type: object
                          additionalProperties:
                            type: number
                            minimum: 0
                            maximum: 1
                        moderationClassifierScore:
                          type: number
                          minimum: 0
                          maximum: 1
                        createdAt:
                          type:
                            - string
                            - 'null'
                        updatedAt:
                          type:
                            - string
                            - 'null'
                        revision:
                          type: integer
                        zeroExSwap:
                          type:
                            - object
                            - 'null'
                          properties:
                            from:
                              type: object
                              properties:
                                address: {}
                                amount:
                                  type: string
                                  pattern: ^\d+(\.\d+)?$
                                symbol:
                                  type: string
                              required:
                                - address
                                - amount
                                - symbol
                            to:
                              type: object
                              properties:
                                address: {}
                                amount:
                                  type: string
                                  pattern: ^\d+(\.\d+)?$
                                symbol:
                                  type: string
                              required:
                                - address
                                - amount
                                - symbol
                          required:
                            - from
                            - to
                        references:
                          type: array
                          items:
                            anyOf:
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - ens
                                  avatarUrl:
                                    type:
                                      - string
                                      - 'null'
                                  name:
                                    type: string
                                  address: {}
                                  position:
                                    type: object
                                    properties:
                                      start:
                                        type: integer
                                      end:
                                        type: integer
                                    required:
                                      - start
                                      - end
                                  url:
                                    type: string
                                    format: uri
                                required:
                                  - type
                                  - avatarUrl
                                  - name
                                  - address
                                  - position
                                  - url
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - erc20
                                  symbol:
                                    type: string
                                  logoURI:
                                    type:
                                      - string
                                      - 'null'
                                  name:
                                    type: string
                                  address: {}
                                  decimals:
                                    type: integer
                                  position:
                                    type: object
                                    properties:
                                      start:
                                        type: integer
                                      end:
                                        type: integer
                                    required:
                                      - start
                                      - end
                                  chainId:
                                    type:
                                      - integer
                                      - 'null'
                                    exclusiveMinimum: 0
                                  chains:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        caip:
                                          type: string
                                        chainId:
                                          type: integer
                                          exclusiveMinimum: 0
                                      required:
                                        - caip
                                        - chainId
                                required:
                                  - type
                                  - symbol
                                  - logoURI
                                  - name
                                  - address
                                  - decimals
                                  - position
                                  - chainId
                                  - chains
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - farcaster
                                  address: {}
                                  fid:
                                    type: integer
                                  fname:
                                    type: string
                                  username:
                                    type: string
                                  displayName:
                                    type:
                                      - string
                                      - 'null'
                                  pfpUrl:
                                    type:
                                      - string
                                      - 'null'
                                  position:
                                    type: object
                                    properties:
                                      start:
                                        type: integer
                                      end:
                                        type: integer
                                    required:
                                      - start
                                      - end
                                  url:
                                    type: string
                                    format: uri
                                required:
                                  - type
                                  - address
                                  - fid
                                  - fname
                                  - username
                                  - displayName
                                  - pfpUrl
                                  - position
                                  - url
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - webpage
                                  url:
                                    type: string
                                    format: uri
                                  position:
                                    type: object
                                    properties:
                                      start:
                                        type: integer
                                      end:
                                        type: integer
                                    required:
                                      - start
                                      - end
                                  title:
                                    type: string
                                  description:
                                    type:
                                      - string
                                      - 'null'
                                  favicon:
                                    type:
                                      - string
                                      - 'null'
                                    format: uri
                                  opengraph:
                                    type:
                                      - object
                                      - 'null'
                                    properties:
                                      title:
                                        type: string
                                      description:
                                        type:
                                          - string
                                          - 'null'
                                      image:
                                        type: string
                                        format: uri
                                      url:
                                        type: string
                                        format: uri
                                    required:
                                      - title
                                      - description
                                      - image
                                      - url
                                required:
                                  - type
                                  - url
                                  - position
                                  - title
                                  - description
                                  - favicon
                                  - opengraph
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - file
                                  url:
                                    type: string
                                    format: uri
                                  position:
                                    type: object
                                    properties:
                                      start:
                                        type: integer
                                      end:
                                        type: integer
                                    required:
                                      - start
                                      - end
                                  mediaType:
                                    type: string
                                required:
                                  - type
                                  - url
                                  - position
                                  - mediaType
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - image
                                  url:
                                    type: string
                                    format: uri
                                  position:
                                    type: object
                                    properties:
                                      start:
                                        type: integer
                                      end:
                                        type: integer
                                    required:
                                      - start
                                      - end
                                  mediaType:
                                    type: string
                                required:
                                  - type
                                  - url
                                  - position
                                  - mediaType
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - video
                                  url:
                                    type: string
                                    format: uri
                                  position:
                                    type: object
                                    properties:
                                      start:
                                        type: integer
                                      end:
                                        type: integer
                                    required:
                                      - start
                                      - end
                                  mediaType:
                                    type: string
                                required:
                                  - type
                                  - url
                                  - position
                                  - mediaType
                        viewerReactions:
                          type: object
                          additionalProperties:
                            type: array
                            items:
                              type: object
                              properties:
                                app: {}
                                author:
                                  type: object
                                  properties:
                                    address: {}
                                    ens:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        avatarUrl:
                                          type:
                                            - string
                                            - 'null'
                                      required:
                                        - name
                                        - avatarUrl
                                    farcaster:
                                      type: object
                                      properties:
                                        fid:
                                          type: integer
                                        pfpUrl:
                                          type: string
                                        displayName:
                                          type: string
                                        username:
                                          type: string
                                      required:
                                        - fid
                                        - username
                                  required:
                                    - address
                                id: {}
                                channelId:
                                  type: string
                                  pattern: ^d+$
                                commentType:
                                  type: integer
                                  minimum: 0
                                  maximum: 255
                                content:
                                  type: string
                                chainId:
                                  type: integer
                                deletedAt:
                                  type:
                                    - string
                                    - 'null'
                                logIndex:
                                  type:
                                    - integer
                                    - 'null'
                                metadata:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      key: {}
                                      value: {}
                                    required:
                                      - key
                                      - value
                                hookMetadata:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      key: {}
                                      value: {}
                                    required:
                                      - key
                                      - value
                                parentId: {}
                                targetUri:
                                  type: string
                                txHash: {}
                                cursor: {}
                                moderationStatus:
                                  type: string
                                  enum: *ref_0
                                moderationStatusChangedAt:
                                  type:
                                    - string
                                    - 'null'
                                moderationClassifierResult:
                                  type: object
                                  additionalProperties:
                                    type: number
                                    minimum: 0
                                    maximum: 1
                                moderationClassifierScore:
                                  type: number
                                  minimum: 0
                                  maximum: 1
                                createdAt:
                                  type:
                                    - string
                                    - 'null'
                                updatedAt:
                                  type:
                                    - string
                                    - 'null'
                                revision:
                                  type: integer
                                zeroExSwap:
                                  type:
                                    - object
                                    - 'null'
                                  properties:
                                    from:
                                      type: object
                                      properties:
                                        address: {}
                                        amount:
                                          type: string
                                          pattern: ^\d+(\.\d+)?$
                                        symbol:
                                          type: string
                                      required:
                                        - address
                                        - amount
                                        - symbol
                                    to:
                                      type: object
                                      properties:
                                        address: {}
                                        amount:
                                          type: string
                                          pattern: ^\d+(\.\d+)?$
                                        symbol:
                                          type: string
                                      required:
                                        - address
                                        - amount
                                        - symbol
                                  required:
                                    - from
                                    - to
                                references:
                                  type: array
                                  items:
                                    anyOf:
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                              - ens
                                          avatarUrl:
                                            type:
                                              - string
                                              - 'null'
                                          name:
                                            type: string
                                          address: {}
                                          position:
                                            type: object
                                            properties:
                                              start:
                                                type: integer
                                              end:
                                                type: integer
                                            required:
                                              - start
                                              - end
                                          url:
                                            type: string
                                            format: uri
                                        required:
                                          - type
                                          - avatarUrl
                                          - name
                                          - address
                                          - position
                                          - url
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                              - erc20
                                          symbol:
                                            type: string
                                          logoURI:
                                            type:
                                              - string
                                              - 'null'
                                          name:
                                            type: string
                                          address: {}
                                          decimals:
                                            type: integer
                                          position:
                                            type: object
                                            properties:
                                              start:
                                                type: integer
                                              end:
                                                type: integer
                                            required:
                                              - start
                                              - end
                                          chainId:
                                            type:
                                              - integer
                                              - 'null'
                                            exclusiveMinimum: 0
                                          chains:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                caip:
                                                  type: string
                                                chainId:
                                                  type: integer
                                                  exclusiveMinimum: 0
                                              required:
                                                - caip
                                                - chainId
                                        required:
                                          - type
                                          - symbol
                                          - logoURI
                                          - name
                                          - address
                                          - decimals
                                          - position
                                          - chainId
                                          - chains
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                              - farcaster
                                          address: {}
                                          fid:
                                            type: integer
                                          fname:
                                            type: string
                                          username:
                                            type: string
                                          displayName:
                                            type:
                                              - string
                                              - 'null'
                                          pfpUrl:
                                            type:
                                              - string
                                              - 'null'
                                          position:
                                            type: object
                                            properties:
                                              start:
                                                type: integer
                                              end:
                                                type: integer
                                            required:
                                              - start
                                              - end
                                          url:
                                            type: string
                                            format: uri
                                        required:
                                          - type
                                          - address
                                          - fid
                                          - fname
                                          - username
                                          - displayName
                                          - pfpUrl
                                          - position
                                          - url
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                              - webpage
                                          url:
                                            type: string
                                            format: uri
                                          position:
                                            type: object
                                            properties:
                                              start:
                                                type: integer
                                              end:
                                                type: integer
                                            required:
                                              - start
                                              - end
                                          title:
                                            type: string
                                          description:
                                            type:
                                              - string
                                              - 'null'
                                          favicon:
                                            type:
                                              - string
                                              - 'null'
                                            format: uri
                                          opengraph:
                                            type:
                                              - object
                                              - 'null'
                                            properties:
                                              title:
                                                type: string
                                              description:
                                                type:
                                                  - string
                                                  - 'null'
                                              image:
                                                type: string
                                                format: uri
                                              url:
                                                type: string
                                                format: uri
                                            required:
                                              - title
                                              - description
                                              - image
                                              - url
                                        required:
                                          - type
                                          - url
                                          - position
                                          - title
                                          - description
                                          - favicon
                                          - opengraph
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                              - file
                                          url:
                                            type: string
                                            format: uri
                                          position:
                                            type: object
                                            properties:
                                              start:
                                                type: integer
                                              end:
                                                type: integer
                                            required:
                                              - start
                                              - end
                                          mediaType:
                                            type: string
                                        required:
                                          - type
                                          - url
                                          - position
                                          - mediaType
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                              - image
                                          url:
                                            type: string
                                            format: uri
                                          position:
                                            type: object
                                            properties:
                                              start:
                                                type: integer
                                              end:
                                                type: integer
                                            required:
                                              - start
                                              - end
                                          mediaType:
                                            type: string
                                        required:
                                          - type
                                          - url
                                          - position
                                          - mediaType
                                      - type: object
                                        properties:
                                          type:
                                            type: string
                                            enum:
                                              - video
                                          url:
                                            type: string
                                            format: uri
                                          position:
                                            type: object
                                            properties:
                                              start:
                                                type: integer
                                              end:
                                                type: integer
                                            required:
                                              - start
                                              - end
                                          mediaType:
                                            type: string
                                        required:
                                          - type
                                          - url
                                          - position
                                          - mediaType
                              required:
                                - app
                                - author
                                - id
                                - channelId
                                - commentType
                                - content
                                - chainId
                                - deletedAt
                                - logIndex
                                - metadata
                                - hookMetadata
                                - parentId
                                - targetUri
                                - txHash
                                - cursor
                                - moderationStatus
                                - moderationStatusChangedAt
                                - moderationClassifierResult
                                - moderationClassifierScore
                                - createdAt
                                - updatedAt
                                - revision
                                - zeroExSwap
                                - references
                        reactionCounts:
                          type: object
                          additionalProperties:
                            type: number
                        replies:
                          type: object
                          properties:
                            extra:
                              type: object
                              properties:
                                moderationEnabled:
                                  type: boolean
                                moderationKnownReactions:
                                  type: array
                                  items:
                                    type: string
                              required:
                                - moderationEnabled
                                - moderationKnownReactions
                            results:
                              type: array
                              items:
                                type: object
                                properties:
                                  app: {}
                                  author:
                                    type: object
                                    properties:
                                      address: {}
                                      ens:
                                        type: object
                                        properties:
                                          name:
                                            type: string
                                          avatarUrl:
                                            type:
                                              - string
                                              - 'null'
                                        required:
                                          - name
                                          - avatarUrl
                                      farcaster:
                                        type: object
                                        properties:
                                          fid:
                                            type: integer
                                          pfpUrl:
                                            type: string
                                          displayName:
                                            type: string
                                          username:
                                            type: string
                                        required:
                                          - fid
                                          - username
                                    required:
                                      - address
                                  id: {}
                                  channelId:
                                    type: string
                                    pattern: ^d+$
                                  commentType:
                                    type: integer
                                    minimum: 0
                                    maximum: 255
                                  content:
                                    type: string
                                  chainId:
                                    type: integer
                                  deletedAt:
                                    type:
                                      - string
                                      - 'null'
                                  logIndex:
                                    type:
                                      - integer
                                      - 'null'
                                  metadata:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key: {}
                                        value: {}
                                      required:
                                        - key
                                        - value
                                  hookMetadata:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        key: {}
                                        value: {}
                                      required:
                                        - key
                                        - value
                                  parentId: {}
                                  targetUri:
                                    type: string
                                  txHash: {}
                                  cursor: {}
                                  moderationStatus:
                                    type: string
                                    enum: *ref_0
                                  moderationStatusChangedAt:
                                    type:
                                      - string
                                      - 'null'
                                  moderationClassifierResult:
                                    type: object
                                    additionalProperties:
                                      type: number
                                      minimum: 0
                                      maximum: 1
                                  moderationClassifierScore:
                                    type: number
                                    minimum: 0
                                    maximum: 1
                                  createdAt:
                                    type:
                                      - string
                                      - 'null'
                                  updatedAt:
                                    type:
                                      - string
                                      - 'null'
                                  revision:
                                    type: integer
                                  zeroExSwap:
                                    type:
                                      - object
                                      - 'null'
                                    properties:
                                      from:
                                        type: object
                                        properties:
                                          address: {}
                                          amount:
                                            type: string
                                            pattern: ^\d+(\.\d+)?$
                                          symbol:
                                            type: string
                                        required:
                                          - address
                                          - amount
                                          - symbol
                                      to:
                                        type: object
                                        properties:
                                          address: {}
                                          amount:
                                            type: string
                                            pattern: ^\d+(\.\d+)?$
                                          symbol:
                                            type: string
                                        required:
                                          - address
                                          - amount
                                          - symbol
                                    required:
                                      - from
                                      - to
                                  references:
                                    type: array
                                    items:
                                      anyOf:
                                        - type: object
                                          properties:
                                            type:
                                              type: string
                                              enum:
                                                - ens
                                            avatarUrl:
                                              type:
                                                - string
                                                - 'null'
                                            name:
                                              type: string
                                            address: {}
                                            position:
                                              type: object
                                              properties:
                                                start:
                                                  type: integer
                                                end:
                                                  type: integer
                                              required:
                                                - start
                                                - end
                                            url:
                                              type: string
                                              format: uri
                                          required:
                                            - type
                                            - avatarUrl
                                            - name
                                            - address
                                            - position
                                            - url
                                        - type: object
                                          properties:
                                            type:
                                              type: string
                                              enum:
                                                - erc20
                                            symbol:
                                              type: string
                                            logoURI:
                                              type:
                                                - string
                                                - 'null'
                                            name:
                                              type: string
                                            address: {}
                                            decimals:
                                              type: integer
                                            position:
                                              type: object
                                              properties:
                                                start:
                                                  type: integer
                                                end:
                                                  type: integer
                                              required:
                                                - start
                                                - end
                                            chainId:
                                              type:
                                                - integer
                                                - 'null'
                                              exclusiveMinimum: 0
                                            chains:
                                              type: array
                                              items:
                                                type: object
                                                properties:
                                                  caip:
                                                    type: string
                                                  chainId:
                                                    type: integer
                                                    exclusiveMinimum: 0
                                                required:
                                                  - caip
                                                  - chainId
                                          required:
                                            - type
                                            - symbol
                                            - logoURI
                                            - name
                                            - address
                                            - decimals
                                            - position
                                            - chainId
                                            - chains
                                        - type: object
                                          properties:
                                            type:
                                              type: string
                                              enum:
                                                - farcaster
                                            address: {}
                                            fid:
                                              type: integer
                                            fname:
                                              type: string
                                            username:
                                              type: string
                                            displayName:
                                              type:
                                                - string
                                                - 'null'
                                            pfpUrl:
                                              type:
                                                - string
                                                - 'null'
                                            position:
                                              type: object
                                              properties:
                                                start:
                                                  type: integer
                                                end:
                                                  type: integer
                                              required:
                                                - start
                                                - end
                                            url:
                                              type: string
                                              format: uri
                                          required:
                                            - type
                                            - address
                                            - fid
                                            - fname
                                            - username
                                            - displayName
                                            - pfpUrl
                                            - position
                                            - url
                                        - type: object
                                          properties:
                                            type:
                                              type: string
                                              enum:
                                                - webpage
                                            url:
                                              type: string
                                              format: uri
                                            position:
                                              type: object
                                              properties:
                                                start:
                                                  type: integer
                                                end:
                                                  type: integer
                                              required:
                                                - start
                                                - end
                                            title:
                                              type: string
                                            description:
                                              type:
                                                - string
                                                - 'null'
                                            favicon:
                                              type:
                                                - string
                                                - 'null'
                                              format: uri
                                            opengraph:
                                              type:
                                                - object
                                                - 'null'
                                              properties:
                                                title:
                                                  type: string
                                                description:
                                                  type:
                                                    - string
                                                    - 'null'
                                                image:
                                                  type: string
                                                  format: uri
                                                url:
                                                  type: string
                                                  format: uri
                                              required:
                                                - title
                                                - description
                                                - image
                                                - url
                                          required:
                                            - type
                                            - url
                                            - position
                                            - title
                                            - description
                                            - favicon
                                            - opengraph
                                        - type: object
                                          properties:
                                            type:
                                              type: string
                                              enum:
                                                - file
                                            url:
                                              type: string
                                              format: uri
                                            position:
                                              type: object
                                              properties:
                                                start:
                                                  type: integer
                                                end:
                                                  type: integer
                                              required:
                                                - start
                                                - end
                                            mediaType:
                                              type: string
                                          required:
                                            - type
                                            - url
                                            - position
                                            - mediaType
                                        - type: object
                                          properties:
                                            type:
                                              type: string
                                              enum:
                                                - image
                                            url:
                                              type: string
                                              format: uri
                                            position:
                                              type: object
                                              properties:
                                                start:
                                                  type: integer
                                                end:
                                                  type: integer
                                              required:
                                                - start
                                                - end
                                            mediaType:
                                              type: string
                                          required:
                                            - type
                                            - url
                                            - position
                                            - mediaType
                                        - type: object
                                          properties:
                                            type:
                                              type: string
                                              enum:
                                                - video
                                            url:
                                              type: string
                                              format: uri
                                            position:
                                              type: object
                                              properties:
                                                start:
                                                  type: integer
                                                end:
                                                  type: integer
                                              required:
                                                - start
                                                - end
                                            mediaType:
                                              type: string
                                          required:
                                            - type
                                            - url
                                            - position
                                            - mediaType
                                  viewerReactions:
                                    type: object
                                    additionalProperties:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          app: {}
                                          author:
                                            type: object
                                            properties:
                                              address: {}
                                              ens:
                                                type: object
                                                properties:
                                                  name:
                                                    type: string
                                                  avatarUrl:
                                                    type:
                                                      - string
                                                      - 'null'
                                                required:
                                                  - name
                                                  - avatarUrl
                                              farcaster:
                                                type: object
                                                properties:
                                                  fid:
                                                    type: integer
                                                  pfpUrl:
                                                    type: string
                                                  displayName:
                                                    type: string
                                                  username:
                                                    type: string
                                                required:
                                                  - fid
                                                  - username
                                            required:
                                              - address
                                          id: {}
                                          channelId:
                                            type: string
                                            pattern: ^d+$
                                          commentType:
                                            type: integer
                                            minimum: 0
                                            maximum: 255
                                          content:
                                            type: string
                                          chainId:
                                            type: integer
                                          deletedAt:
                                            type:
                                              - string
                                              - 'null'
                                          logIndex:
                                            type:
                                              - integer
                                              - 'null'
                                          metadata:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                key: {}
                                                value: {}
                                              required:
                                                - key
                                                - value
                                          hookMetadata:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                key: {}
                                                value: {}
                                              required:
                                                - key
                                                - value
                                          parentId: {}
                                          targetUri:
                                            type: string
                                          txHash: {}
                                          cursor: {}
                                          moderationStatus:
                                            type: string
                                            enum: *ref_0
                                          moderationStatusChangedAt:
                                            type:
                                              - string
                                              - 'null'
                                          moderationClassifierResult:
                                            type: object
                                            additionalProperties:
                                              type: number
                                              minimum: 0
                                              maximum: 1
                                          moderationClassifierScore:
                                            type: number
                                            minimum: 0
                                            maximum: 1
                                          createdAt:
                                            type:
                                              - string
                                              - 'null'
                                          updatedAt:
                                            type:
                                              - string
                                              - 'null'
                                          revision:
                                            type: integer
                                          zeroExSwap:
                                            type:
                                              - object
                                              - 'null'
                                            properties:
                                              from:
                                                type: object
                                                properties:
                                                  address: {}
                                                  amount:
                                                    type: string
                                                    pattern: ^\d+(\.\d+)?$
                                                  symbol:
                                                    type: string
                                                required:
                                                  - address
                                                  - amount
                                                  - symbol
                                              to:
                                                type: object
                                                properties:
                                                  address: {}
                                                  amount:
                                                    type: string
                                                    pattern: ^\d+(\.\d+)?$
                                                  symbol:
                                                    type: string
                                                required:
                                                  - address
                                                  - amount
                                                  - symbol
                                            required:
                                              - from
                                              - to
                                          references:
                                            type: array
                                            items:
                                              anyOf:
                                                - type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                        - ens
                                                    avatarUrl:
                                                      type:
                                                        - string
                                                        - 'null'
                                                    name:
                                                      type: string
                                                    address: {}
                                                    position:
                                                      type: object
                                                      properties:
                                                        start:
                                                          type: integer
                                                        end:
                                                          type: integer
                                                      required:
                                                        - start
                                                        - end
                                                    url:
                                                      type: string
                                                      format: uri
                                                  required:
                                                    - type
                                                    - avatarUrl
                                                    - name
                                                    - address
                                                    - position
                                                    - url
                                                - type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                        - erc20
                                                    symbol:
                                                      type: string
                                                    logoURI:
                                                      type:
                                                        - string
                                                        - 'null'
                                                    name:
                                                      type: string
                                                    address: {}
                                                    decimals:
                                                      type: integer
                                                    position:
                                                      type: object
                                                      properties:
                                                        start:
                                                          type: integer
                                                        end:
                                                          type: integer
                                                      required:
                                                        - start
                                                        - end
                                                    chainId:
                                                      type:
                                                        - integer
                                                        - 'null'
                                                      exclusiveMinimum: 0
                                                    chains:
                                                      type: array
                                                      items:
                                                        type: object
                                                        properties:
                                                          caip:
                                                            type: string
                                                          chainId:
                                                            type: integer
                                                            exclusiveMinimum: 0
                                                        required:
                                                          - caip
                                                          - chainId
                                                  required:
                                                    - type
                                                    - symbol
                                                    - logoURI
                                                    - name
                                                    - address
                                                    - decimals
                                                    - position
                                                    - chainId
                                                    - chains
                                                - type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                        - farcaster
                                                    address: {}
                                                    fid:
                                                      type: integer
                                                    fname:
                                                      type: string
                                                    username:
                                                      type: string
                                                    displayName:
                                                      type:
                                                        - string
                                                        - 'null'
                                                    pfpUrl:
                                                      type:
                                                        - string
                                                        - 'null'
                                                    position:
                                                      type: object
                                                      properties:
                                                        start:
                                                          type: integer
                                                        end:
                                                          type: integer
                                                      required:
                                                        - start
                                                        - end
                                                    url:
                                                      type: string
                                                      format: uri
                                                  required:
                                                    - type
                                                    - address
                                                    - fid
                                                    - fname
                                                    - username
                                                    - displayName
                                                    - pfpUrl
                                                    - position
                                                    - url
                                                - type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                        - webpage
                                                    url:
                                                      type: string
                                                      format: uri
                                                    position:
                                                      type: object
                                                      properties:
                                                        start:
                                                          type: integer
                                                        end:
                                                          type: integer
                                                      required:
                                                        - start
                                                        - end
                                                    title:
                                                      type: string
                                                    description:
                                                      type:
                                                        - string
                                                        - 'null'
                                                    favicon:
                                                      type:
                                                        - string
                                                        - 'null'
                                                      format: uri
                                                    opengraph:
                                                      type:
                                                        - object
                                                        - 'null'
                                                      properties:
                                                        title:
                                                          type: string
                                                        description:
                                                          type:
                                                            - string
                                                            - 'null'
                                                        image:
                                                          type: string
                                                          format: uri
                                                        url:
                                                          type: string
                                                          format: uri
                                                      required:
                                                        - title
                                                        - description
                                                        - image
                                                        - url
                                                  required:
                                                    - type
                                                    - url
                                                    - position
                                                    - title
                                                    - description
                                                    - favicon
                                                    - opengraph
                                                - type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                        - file
                                                    url:
                                                      type: string
                                                      format: uri
                                                    position:
                                                      type: object
                                                      properties:
                                                        start:
                                                          type: integer
                                                        end:
                                                          type: integer
                                                      required:
                                                        - start
                                                        - end
                                                    mediaType:
                                                      type: string
                                                  required:
                                                    - type
                                                    - url
                                                    - position
                                                    - mediaType
                                                - type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                        - image
                                                    url:
                                                      type: string
                                                      format: uri
                                                    position:
                                                      type: object
                                                      properties:
                                                        start:
                                                          type: integer
                                                        end:
                                                          type: integer
                                                      required:
                                                        - start
                                                        - end
                                                    mediaType:
                                                      type: string
                                                  required:
                                                    - type
                                                    - url
                                                    - position
                                                    - mediaType
                                                - type: object
                                                  properties:
                                                    type:
                                                      type: string
                                                      enum:
                                                        - video
                                                    url:
                                                      type: string
                                                      format: uri
                                                    position:
                                                      type: object
                                                      properties:
                                                        start:
                                                          type: integer
                                                        end:
                                                          type: integer
                                                      required:
                                                        - start
                                                        - end
                                                    mediaType:
                                                      type: string
                                                  required:
                                                    - type
[...]
