services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ponder
      POSTGRES_USER: ponder
      POSTGRES_PASSWORD: ponder
    ports:
      - "127.0.0.1:5432:5432"

  prometheus:
    image: prom/prometheus:v3.7.3
    ports:
      - "127.0.0.1:9090:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./docker/local/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  # in Grafana you can connect http://prometheus:9090 as source
  # use admin / admin as credentials
  grafana:
    image: grafana/grafana:12.1.4
    ports:
      - "127.0.0.1:4000:3000"
    volumes:
      - ./docker/local/grafana/provisioning:/etc/grafana/provisioning

  tempo:
    image: grafana/tempo:2.9.0
    command: ["-config.file=/etc/tempo.yaml"]
    volumes:
      - ./docker/local/tempo/tempo.yml:/etc/tempo.yaml
      - ./docker/local/tempo/overrides.yml:/etc/overrides.yaml
    ports:
      # - "127.0.0.1:14268:14268" # jaeger ingest
      - "127.0.0.1:3200:3200" # tempo
      - "127.0.0.1:9095:9095" # tempo grpc
      - "127.0.0.1:4317:4317" # otlp grpc
      - "127.0.0.1:4318:4318" # otlp http
      # - "127.0.0.1:9411:9411" # zipkin
