global:
  scrape_interval: 5s
  evaluation_interval: 10s

scrape_configs:
  - job_name: "ponder"
    static_configs:
      - targets: ["host.docker.internal:42069"]
    metrics_path: "/metrics"

  - job_name: "indexer"
    static_configs:
      - targets: ["host.docker.internal:42070"]
    metrics_path: "/api/internal/metrics"
