@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(
    --theme-font-family-default,
    Geist,
    Arial,
    Helvetica,
    sans-serif
  );
}

@layer base {
  .light-theme-values {
    --background: var(--light-theme-background, white);
    --foreground: var(--light-theme-foreground, hsl(0 0% 3.9%));
    --account-edit-link: var(--light-theme-account-edit-link, rgb(59 130 246));
    --popover: var(--light-theme-background, white);
    --popover-foreground: var(--light-theme-foreground, hsl(0 0% 3.9%));
    --primary: var(--light-theme-primary, hsl(0 0% 9%));
    --primary-foreground: var(--light-theme-primary-foreground, hsl(0 0% 98%));
    --secondary: var(--light-theme-secondary, hsl(0 0% 96.1%));
    --secondary-foreground: var(
      --light-theme-secondary-foreground,
      hsl(0 0% 9%)
    );
    --muted: var(--light-theme-secondary, hsl(0 0% 96.1%));
    --muted-foreground: var(--light-theme-muted-foreground, hsl(0 0% 45.1%));
    --accent: var(--light-theme-secondary, hsl(0 0% 96.1%));
    --accent-foreground: var(--light-theme-foreground, hsl(0 0% 9%));
    --destructive: var(--light-theme-destructive, hsl(0 84.2% 60.2%));
    --destructive-foreground: var(
      --light-theme-destructive-foreground,
      hsl(0 0% 98%)
    );
    --border: var(--light-theme-border, hsl(0 0% 89.8%));
    --border-focus: var(--light-theme-border-focus, hsl(0 0% 3.9%));
    --input: var(--light-theme-input, hsla(0, 0%, 100%, 0));
    --input-foreground: var(--light-theme-input-foreground, hsl(0 0% 3.9%));
    --ring: var(--light-theme-ring, hsl(0 0% 3.9%));
    --radius: var(--theme-radius, 0.5rem);
    --root-padding-vertical: var(--theme-root-padding-vertical, 0);
    --root-padding-horizontal: var(--theme-root-padding-horizontal, 0);
  }

  .dark-theme-values {
    --background: var(--dark-theme-background, hsl(0 0% 3.9%));
    --foreground: var(--dark-theme-foreground, hsl(0 0% 98%));
    --account-edit-link: var(--dark-theme-account-edit-link, rgb(59 130 246));
    --popover: var(--dark-theme-background, hsl(0 0% 3.9%));
    --popover-foreground: var(--dark-theme-foreground, hsl(0 0% 98%));
    --primary: var(--dark-theme-primary, hsl(0 0% 98%));
    --primary-foreground: var(--dark-theme-primary-foreground, hsl(0 0% 9%));
    --secondary: var(--dark-theme-secondary, hsl(0 0% 14.9%));
    --secondary-foreground: var(
      --dark-theme-secondary-foreground,
      hsl(0 0% 98%)
    );
    --muted: var(--dark-theme-secondary, hsl(0 0% 14.9%));
    --muted-foreground: var(--dark-theme-muted-foreground, hsl(0 0% 63.9%));
    --accent: var(--dark-theme-secondary, hsl(0 0% 14.9%));
    --accent-foreground: var(--dark-theme-foreground, hsl(0 0% 98%));
    --destructive: var(--dark-theme-destructive, hsl(0 84.2% 60.2%));
    --destructive-foreground: var(
      --dark-theme-destructive-foreground,
      hsl(0 0% 98%)
    );
    --border: var(--dark-theme-border, hsl(0 0% 14.9%));
    --border-focus: var(--dark-theme-border-focus, hsl(0 0% 83.1%));
    --input: var(--dark-theme-input, hsla(0, 0%, 0%, 0));
    --input-foreground: var(--dark-theme-input-foreground, hsl(0 0% 98%));
    --ring: var(--dark-theme-ring, hsl(0 0% 83.1%));
  }

  .theme-root {
    min-height: 100vh;
  }

  .theme-root,
  .theme-root.light {
    @apply light-theme-values;
  }

  .theme-root.dark {
    @apply dark-theme-values;
  }

  @media (prefers-color-scheme: dark) {
    .theme-root:not(.light) {
      @apply dark-theme-values;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    background: transparent;
    /** 
     * because the container on parent window always sync with the body content height,
     * we can simply set overflow: hidden to prevent scrollbar showing up and mess up the 
     * scrollHeight measurement.
     */
    overflow: hidden;
  }

  html.has-not-parent-window {
    overflow: auto;
  }
}
