# (Optional) The URL of the ECP.eth Embed instance to use, default to the producution embed.
# use this to test against a local embed instance.
VITE_ECP_ETH_EMBED_URL="http://localhost:3002"

# (Optional) The URL of the ECP.eth Embed instance to use, default to the producution embed.
# use this to test against a local embed instance.
VITE_ECP_ETH_EMBED_BY_AUTHOR_URL="http://localhost:3002/by-author"
VITE_ECP_ETH_EMBED_BY_REPLIES_URL="http://localhost:3002/by-replies"

# (Optional) Set it to 1 to enable pre-approved gasless mode to allow iframe embed to choose the option
VITE_ECP_ENABLE_PREAPPROVED_GASLESS=