@import "tailwindcss";

:root {
  --vocs-color_border: #e0e0e0;
}

@theme {
  --color-input: var(--vocs-color_background3);
  --color-input-border: var(--vocs-color_border);
  --color-input-text: var(--vocs-color_text);
  --color-iframe-configurator-section-border: var(--vocs-color_border);
  --radius-iframe-configurator-section: var(--vocs-borderRadius_4);
  --text-iframe-configurator-input: var(--vocs-fontSize_14);
}

.ecp_H1 {
  @apply text-4xl font-bold mb-8 text-center;
}

.ecp_H2 {
  @apply text-2xl font-bold mb-8 text-center;
}

.ecp_Paragraph_secondary {
  @apply text-gray-800;
}

:root.dark .ecp_Paragraph_secondary {
  @apply text-gray-400;
}
