NODE_ENV=development

# (REQUIRED) App identity signer private key. If you have foundry installed, you can run `cast wallet new` to generate a new private key.
APP_SIGNER_PRIVATE_KEY=
# (REQUIRED) address from APP_SIGNER_PRIVATE_KEY
NEXT_PUBLIC_APP_SIGNER_ADDRESS=

# (REQUIRED if you don't want to use privy submitter) Submitter private key - pays for gas (this is an anvil test account)
SUBMITTER_PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"

# Privy Submitter - pays for gas (https://dashboard.privy.io/)
## (REQUIRED if privy submitter should be used) App Settings
PRIVY_APP_ID=
## (REQUIRED if privy submitter should be used)
PRIVY_SECRET=

## Authorization Keys
## (REQUIRED if privy submitter should be used)
PRIVY_AUTHORIZATION_KEY=

## Wallets
## (REQUIRED if privy submitter should be used)
PRIVY_WALLET_ADDRESS=
## (REQUIRED if privy submitter should be used)
PRIVY_WALLET_ID=

# (REQUIRED) WalletConnect project ID (https://cloud.reown.com)
NEXT_PUBLIC_WC_PROJECT_ID=

# (REQUIRED) The URL of the app (for authorizing comments from server)
APP_URL="http://localhost:3000"

# (REQUIRED) The URL of the comments indexer (for fetching comments)
NEXT_PUBLIC_COMMENTS_INDEXER_URL="http://localhost:42069"

# (REQUIRED on production) Ethereum RPC node used on production  
NEXT_PUBLIC_RPC_URL=

# (OPTIONAL) For testing purposes of tx calldata suffixes,
# if omitted it won't be possible to send comment as part of a transaction.
# This default address uses our test protocol for local development.
# For remote testing you can use Yoink contract "0x4bBFD120d9f352A0BEd7a014bd67913a2007a878"
NEXT_PUBLIC_YOINK_CONTRACT_ADDRESS="0x948B3c65b89DF0B4894ABE91E6D02FE579834F8F"

# (OPTIONAL) The maximum depth of replies we allow user to post, starting from 1.
NEXT_PUBLIC_REPLY_DEPTH_CUTOFF=1

# (OPTIONAL) Rest api of kv store (redis) for rate limiting
KV_REST_API_URL=

# (OPTIONAL) Token for kv store (redis) for rate limiting
KV_REST_API_TOKEN=

# (OPTIONAL) If omitted the comment author will not render as link
# use {address} for commenter's address
NEXT_PUBLIC_COMMENT_AUTHOR_URL="https://app.interface.social/{address}"

# (OPTIONAL) ZeroEx API key
# Necessary for swap with comment example if not provided the swap with comment section will not be rendered
ZEROEX_API_KEY=