name: Build and check docs

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "docs/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-docs:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    continue-on-error: true
    env:
      TURBO_UI: "false"
    name: Build docs to check for out of sync files
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@v1"

      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build the project
        run: pnpm build

      - name: "Docs: Build docs"
        run: pnpm run build
        working-directory: docs

      - name: "Skip sitemap check"
        run: git checkout HEAD public/sitemap.xml
        working-directory: docs

      - name: "Docs: Warn if docs are not synced"
        id: docs-warn-out-of-sync
        run: |
          git diff
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "::warning ::Below files are out of sync"
            git status --porcelain | while read -r line; do
              # Extract the filename (3rd character onward)
              file=$(echo "$line" | cut -c3-)
              # Print a warning for each file
              echo "::warning file=$file::$file"
            done
            exit 1
          fi
        shell: bash
