name: Comments Protocol CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - "docs/**"
      - "changesets/**"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "changesets/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-protocol:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        working-directory: packages/protocol
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v4"

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@v1"
        with:
          version: v1.2.3

      - name: "Setup pnpm"
        uses: "pnpm/action-setup@v2"

      - name: "Setup Node.js"
        uses: "actions/setup-node@v4"
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: "Install the Node.js dependencies"
        run: "pnpm install --frozen-lockfile"

      - name: "Build the contracts and print their size"
        run: "forge build --sizes --skip test"

      - name: "Add build summary"
        run: |
          echo "## Build result" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY

  test-protocol:
    needs: ["build-protocol"]
    runs-on: "ubuntu-latest"
    defaults:
      run:
        working-directory: packages/protocol
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v4"

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@v1"
        with:
          version: v1.2.3

      - name: "Setup pnpm"
        uses: "pnpm/action-setup@v2"

      - name: "Setup Node.js"
        uses: "actions/setup-node@v4"
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: "Install the Node.js dependencies"
        run: "pnpm install"

      - name: "Show the Foundry config"
        run: "forge config"

      - name: "Run the tests"
        run: "forge test -vvv"

      - name: "Add test summary"
        run: |
          echo "## Tests result" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY

  build-js:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      APP_SIGNER_PRIVATE_KEY: "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
      NEXT_PUBLIC_APP_SIGNER_ADDRESS: "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
      NEXT_PUBLIC_COMMENTS_INDEXER_URL: "https://example.com/indexer"
      NEXT_PUBLIC_WC_PROJECT_ID: "test-project-id"
      SUBMITTER_PRIVATE_KEY: "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
      APP_URL: "http://localhost:3000"
      WEBHOOK_SECRET: "secret"
      TURBO_UI: "false"
      CONTRACT_OWNER_ADDRESS: "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
      FUND_ADDRESS: "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
      NEXT_PUBLIC_PROD_CHAIN_ID: "84532"
      PINATA_JWT: "jwt"
      NEXT_PUBLIC_PINATA_GATEWAY_URL: "https://some.gateway.url"
      ENS_RPC_URL: "https://ethereum-rpc.publicnode.com"
      NEYNAR_API_KEY: "NEYNAR_API_KEY"
      SIM_API_KEY: "SIM_API_KEY"
      NEXT_PUBLIC_BLOCK_EXPLORER_TX_URL: "https://basescan.org/tx/{txHash}"

      # broadcast app / indexer
      NEXT_PUBLIC_CHAIN_ID: 31337
      NEXT_PUBLIC_RPC_URL: "http://localhost:8545"
      PRIVATE_RPC_URL: "http://localhost:8545"
      BROADCAST_APP_INDEXER_URL: "http://localhost:42069"
      NEXT_PUBLIC_BROADCAST_HOOK_ADDRESS: "0x35bBcd0f8b148F2D6e7344488A862fb45772c66b"
      FARCASTER_MINI_APP_MANIFEST_ACCOUNT_ASSOCIATION_HEADER: "Farcaster-Mini-App-Manifest-Account-Association"
      FARCASTER_MINI_APP_MANIFEST_ACCOUNT_ASSOCIATION_PAYLOAD: "Farcaster-Mini-App-Manifest-Account-Association-Payload"
      FARCASTER_MINI_APP_MANIFEST_ACCOUNT_ASSOCIATION_SIGNATURE: "Farcaster-Mini-App-Manifest-Account-Association-Signature"
      FARCASTER_MINI_APP_NAME: "Broadcast"
      FARCASTER_MINI_APP_WEBHOOK_URL: "https://example.com/webhook"
      FARCASTER_MINI_APP_URL: "https://example.com"

      JWT_SIWE_NONCE_SECRET: "siwe-secret"
      JWT_ACCESS_TOKEN_SECRET: "access-token-secret"
      JWT_REFRESH_TOKEN_SECRET: "refresh-token-secret"

    name: Build and Test on Node.js 22
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@v1"
        with:
          version: v1.2.3

      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build the project
        run: pnpm build
        env:
          NODE_OPTIONS: "--max-old-space-size=8192"

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm check-types

      - name: Test
        run: pnpm test

      - name: "Protocol: Build ABI"
        run: pnpm run build:abi
        working-directory: packages/protocol
      - name: "Protocol: Log ABI diff"
        run: |
          git diff --name-only packages/protocol/abis.ts packages/sdk/src/abis.ts || true
          echo "=== Full diff ==="
          git diff packages/protocol/abis.ts packages/sdk/src/abis.ts || true
        shell: bash
      - name: "Protocol: Ensure ABI is up to date"
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "ABIs needs to be synced, please run \`pnpm run build:abi\` in the protocol folder" >&2
            git status
            exit 1
          fi
        shell: bash

      - name: "SDK: Ensure SDK production contract addreses are up to date"
        run: node --experimental-transform-types --no-warnings ./scripts/check-contract-addresses.ts
        working-directory: packages/sdk
        env:
          NODE_ENV: "production"

      - name: "SDK: Ensure SDK development contract addreses are up to date"
        run: |
          pnpm run build:dev
          node --experimental-transform-types --no-warnings ./scripts/check-contract-addresses.ts
        working-directory: packages/sdk
        env:
          NODE_ENV: "development"
          NODE_OPTIONS: "--max-old-space-size=8192"
