name: Comments Protocol CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - "docs/**"
      - "changesets/**"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "changesets/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-protocol:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        working-directory: apps/protocol
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v4"

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@v1"

      - name: "Setup pnpm"
        uses: "pnpm/action-setup@v2"

      - name: "Setup Node.js"
        uses: "actions/setup-node@v4"
        with:
          node-version: "22"
          cache: "pnpm"

      - name: "Install the Node.js dependencies"
        run: "pnpm install --frozen-lockfile"

      - name: "Build the contracts and print their size"
        run: "forge build --sizes"

      - name: "Add build summary"
        run: |
          echo "## Build result" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY

  test-protocol:
    needs: ["build-protocol"]
    runs-on: "ubuntu-latest"
    defaults:
      run:
        working-directory: apps/protocol
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v4"

      - name: "Install Foundry"
        uses: "foundry-rs/foundry-toolchain@v1"

      - name: "Setup pnpm"
        uses: "pnpm/action-setup@v2"

      - name: "Setup Node.js"
        uses: "actions/setup-node@v4"
        with:
          node-version: "22"
          cache: "pnpm"

      - name: "Install the Node.js dependencies"
        run: "pnpm install"

      - name: "Show the Foundry config"
        run: "forge config"

      - name: "Run the tests"
        run: "forge test -vvv"

      - name: "Add test summary"
        run: |
          echo "## Tests result" >> $GITHUB_STEP_SUMMARY
          echo "✅ Passed" >> $GITHUB_STEP_SUMMARY

  build-js:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22]
    name: Build and Test on Node.js ${{ matrix.node }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm check-types
