name: Comments SDK CI

on:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - "docs/**"
      - "changesets/**"
  pull_request:
    paths-ignore:
      - "docs/**"
      - "changesets/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22]
    name: Build and Test on Node.js ${{ matrix.node }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Typecheck
        run: pnpm check-types
